#about-sec {
  --offX: 50px;
  --offY: 30px;
  font-family: "Montserrat", sans-serif;
  background-image: url("../Assets/bgContact.png");
  background-repeat: no-repeat;
  background-position: 50%;
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: -60px;
  align-items: center;
}

#about-txt {
  padding: 30px 80px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.sec-header {
  align-self: center;
}

.about-par {
  font-size: 1.1rem;
  line-height: 1.2;
  opacity: 0.8;
  margin: 20px 0;
}

#about-line {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 2px;
  height: 40%;
  background-color: white;
  margin: auto;
}

#about-right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 20px 40px;
  margin: auto;
}

#about-car-cont {
  width: 80%;
  height: min(60%, 300px);
  align-self: center;
  justify-content: center;
  position: relative;
}

#about-tweet {
  display: none;
  height: clamp(80px, 4rem, 128px);
  width: 70%;
  background: white;
  border-radius: 2px;
}

#about-car {
  height: 100%;
  width: calc(100% - 10px);
}

#about-car-back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translate(var(--offX), var(--offY));
  background-color: white;
}

.play-cont {
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(
    calc(var(--offX) * var(--offset)),
    calc(var(--offY) * var(--offset))
  );
}

.play-active {
  opacity: 1;
  z-index: 20;
  transform: translate(0, 0);
  animation: play-anim 500ms ease, play-anim-opac 500ms ease;
}

.play-next {
  opacity: 0;
  transform: translate(var(--offX), var(--offY));
}

.play-prev {
  z-index: 30;
  transform: translate(calc(var(--offX) * -1), calc(var(--offY) * -1));
  animation: play-prev-anim 500ms ease;
}

@keyframes play-anim {
  0% {
    transform: translate(var(--offX), var(--offY));
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes play-anim-opac {
  0%,
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes play-prev-anim {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(calc(var(--offX) * -1), calc(var(--offY) * -1));
    opacity: 0;
  }
}

#about-dots-cont {
  position: absolute;
  top: 20px;
  left: 100%;
  height: 100%;
  width: min-content;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dot {
  height: 10px;
  width: 10px;
  outline: 2px solid rgba(0, 0, 0, 0.8);
  border: 1px solid white;
  border-radius: 50%;
  margin: 5px 0;
  background: white;
}

.dot.active {
  background: rgba(0, 0, 0, 0.8);
}

@media (max-width: 900px) {
  #about-sec {
    flex-direction: column;
    position: static;
  }

  #about-txt {
    width: 100%;
    padding: 20px 40px;
  }

  .about-par {
    text-align: center;
    margin: 10px 0;
  }

  #about-line {
    display: none;
  }

  #about-right {
    position: static;
    height: 400px;
    grid-template-rows: 1fr;
    grid-row-gap: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  #about-car-cont {
    justify-self: center;
    height: 100%;
    width: max(60%, 300px);
  }

  #about-tweet {
    justify-self: center;
    width: 80%;
  }
}

@media (max-width: 500px) {
  #about-sec {
    padding-top: 40px;
    background-image: url("../Assets/phoneContactBg.png");
    --offX: 25px;
    --offY: 15px;
  }

  #about-txt {
    padding: 20px 40px;
  }

  .about-par {
    font-size: 0.9rem;
    margin: 5px 0;
    text-align: center;
  }

  #about-right {
    height: 200px;
  }

  #about-dots-cont {
    padding: 0 7.5px;
  }
}
