.contact {
    margin-top: 15rem;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.contact>img {
    position: absolute;
    top: -20rem;
    max-width: 100%;
    z-index: 1;
}

.contact>h2 {
    font-size: 3.4rem;
    margin-bottom: 1rem;    
    font-weight: 600;
}

.contactCont {
    display: flex;
    flex-wrap: wrap;
    width: 86%;
    justify-content: center;
}

.contDiv {
    margin-top: 3rem;
    z-index: 2;
    border-radius: 40px;
    padding: 0.4rem;
    width: 15%;
    margin-inline: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.name {
    margin-top: 0.8rem;
    font-size: 1.4rem;
    line-height: 1.7rem;

}

.dept {
    opacity: 0.8;
    margin-top: 0.8rem;
    font-size: 1.1rem;
}

.number {
    opacity: 0.5;
    margin-top: 0.8rem;
    font-size: 1.1rem;
}

.mail {
    opacity: 0.5;
    margin-top: 0.8rem;
    font-size: 0.9rem;
}

.contactImg {
    mix-blend-mode: overlay;
    width: 100%;
    border-radius: 34px;
}

.contactImgCont {
    mix-blend-mode: overlay;
    background: transparent;
    opacity: 0.9;
    border-radius: 34px;
    width: 60%;
}

@media (max-width: 800px) {
    .contactCont{
        flex-direction: column;
        align-items: center;
    }
    .contDiv{
        width: 80% !important;
    }
    .contact>h2{
        margin-inline: 1rem;
        font-size: 3rem;
    }
    .contactCont{
        margin-bottom: 3rem;
    }
}
@media (max-width: 400px) {
    .contact>h2{
        padding-left: 1rem;
        font-size: 2.5rem;
    }
}
@media (max-width: 1200px) {
    .contact>img{
        transform: translateY(13rem);
    }
    .contDiv{
        margin-inline: 3rem;
        width: 30%;
    }
    
}
@media (min-width:1200px) and (max-width:1400px) {
    .contDiv{
        margin-inline: 3rem;
        width: 19%;
    }
}