* {
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 500;
  box-sizing: border-box;
  scrollbar-color: #eeecec transparent;
}

*::-webkit-scrollbar-thumb {
  background: #eeecec;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: black;
  background-image: url(../Assets/devpage-bg.jpg);
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  font-family: "Montserrat";
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  pointer-events: none;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

/* Title */
.dev-head {
  font-size: 2.8rem;
  margin-top: 2rem;
  font-weight: 600;
}

/* Grids */
.dev-body {
  width: 98vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.six,
.five {
  gap: 1rem;
  display: grid;
}

.six {
  max-width: 98vw;
}

.five {
  margin: 2rem 0;
  max-width: 80vw;
}

/* Profile Boxes */
.dev-profile {
  z-index: 2;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.dev-name {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.dev-dept {
  opacity: 0.6;
  margin: 0.5rem 0;
  font-size: 0.8rem;
}

.dev-img {
  width: 100%;
  border-radius: 2rem;
  mix-blend-mode: overlay;
}

.img-wrapper {
  width: 70%;
  opacity: 0.9;
  border-radius: 2rem;
  mix-blend-mode: overlay;
  background: transparent;
  box-shadow: inset -10px 10px 10px rgba(255, 252, 252, 0.25),
    inset 10px -10px 10px rgba(0, 0, 0, 0.25);
}

.dev-links {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dev-link {
  display: flex;
  width: 90%;
  justify-content: center;
}

.dev-link img {
  opacity: 0.6;
  width: 110%;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .dev-name {
    font-size: 1.2rem;
  }

  .dev-dept {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 0px) {
  .dev-head {
    font-size: 2.6rem;
    margin: 3rem 0 1rem 0;
  }

  .centre {
    transform: translateX(calc(17vw + 2rem));
  }

  .six,
  .five {
    gap: 3rem 6rem;
    grid-template-columns: 1fr 1fr;
  }

  .dev-name {
    font-size: 1.2rem;
  }

  .dev-links {
    gap: 0rem;
  }

  .dev-link{
    width: 25%;
  }

  .dev-dept {
    font-size: 0.95rem;
  }

  .dev-profile {
    max-width: 34vw;
  }

  body {
    background-image: url(../Assets/dev-mobile.jpg);
  }
}

@media screen and (min-width: 999px) {
  .dev-head {
    font-size: 2.8rem;
    margin: 2rem 0 0rem 0;
  }

  .centre {
    transform: none;
  }

  body {
    background-image: url(../Assets/devpage-bg.jpg);
  }

  .dev-links {
    gap: 0.2rem;
  }

  .six,
  .five {
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .five {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .dev-name {
    font-size: 1.1rem;
  }

  .dev-link img {
    width: 110%;
  }

  .dev-dept {
    font-size: 0.8rem;
  }

  .dev-profile {
    max-width: calc((85vw - 5rem) / 6);
  }
}

@media screen and (min-width: 1599px) {
  .dev-head {
    font-size: 3.4rem;
    margin: 2.4rem 0 1.4rem 0;
  }

  .dev-name {
    font-size: 1.4rem;
  }

  .dev-dept {
    font-size: 1rem;
  }
}

@media screen and (min-height: 1000px) {
  body,
  .dev-body {
    gap: 3rem;
  }
}
