@font-face {
  font-family: Zona;
  src: url(../Assets/Fonts/ZonaPro-Bold.otf);
}

@font-face {
  font-family: Striker;
  src: url(../Assets/Fonts/Striker.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 500;
  scrollbar-color: #eeecec transparent;
}

*::-webkit-scrollbar-thumb {
  background: #eeecec;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

section {
  margin: 160px 0;
}

.loader {
  background-color: black;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 10000001;
}

.hide {
  margin-top: 2rem;
  animation: appear 1s 3s;
  padding: 0.8rem 1.2rem;
  font-family: "Zona";
  position: relative;
  color: white;
  overflow: hidden;
  transition: 0.2s;
}

@keyframes appear {
  from {
    transform: translateY(-10px);
    visibility: hidden;
  }

  to {
    transform: none;
    visibility: visible;
  }
}

.hide:hover {
  cursor: pointer;
  color: white;
  background: red;
  transition-delay: 1s;
  box-shadow: 0 0 5px red, 0 0 5px red, 0 0 5px red, 0 0 5px red;
}

.hide span {
  position: absolute;
  display: block;
}

.hide span:nth-child(1) {
  top: 0;
  transform: translateX(-130%);
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, red);
}

.hide:hover span:nth-child(1) {
  transform: translateX(100%);
  transition: 1s;
}

.hide span:nth-child(3) {
  bottom: 0;
  transform: translateX(105%);
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg, transparent, red);
}

.hide:hover span:nth-child(3) {
  transform: translateX(-130%);
  transition: 1s 0.5s;
}

.hide span:nth-child(2) {
  right: 0;
  transform: translateY(-130%);
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, red);
}

.hide:hover span:nth-child(2) {
  transform: translateY(100%);
  transition: 1s 0.25s;
}

.hide span:nth-child(4) {
  left: 0;
  transform: translateY(100%);
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, red);
}

.hide:hover span:nth-child(4) {
  transform: translateY(-130%);
  transition: 1s 0.75s;
}

.loader video {
  width: 30vw;
}

/* NavBar */
.left,
.right {
  margin-block: 1.2rem;
  margin-inline: 2.4rem;
}

.left > img {
  width: 4.2rem;
}

.nav {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.right {
  display: flex;
  font-family: "Montserrat", sans-serif;
  justify-content: space-around;
  position: relative;
  z-index: 20;
  background-color: black;
}

/* Landing Content */
main {
  /* visibility: hidden; */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  position: absolute;
  transform: scale(0.8);
  top: 40rem;
  right: 28rem;
  display: none;
}

#l1 {
  top: 18rem;
}

#l2 {
  top: 10rem;
  right: 36rem;
}

#l3 {
  top: 16rem;
  left: 6rem;
}

#l4 {
  top: 25rem;
  left: 24rem;
}

#l5 {
  top: 23rem;
  left: 50rem;
}

#l6 {
  top: 16rem;
  right: 50rem;
}

.phoneBgMain {
  display: none;
}

.bgMain {
  display: block;
  position: absolute;
  top: -8rem;
  left: -1rem;
  width: 100%;
}

#l7 {
  top: 2rem;
  left: 30rem;
}

#l8 {
  top: 24rem;
  right: 10rem;
}

#l9 {
  top: 6rem;
  right: 14rem;
}

#l10 {
  top: 25rem;
  left: 14rem;
}

#l11 {
  top: 4rem;
  left: 50rem;
}

.text {
  z-index: 30;
  margin-top: -14rem;
}

.text > img {
  width: 84%;
  height: auto;
}

#bosmRise {
  margin-top: -1.2rem;
  width: 54%;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#phoneRegist {
  display: none;
}

.pictures {
  display: flex;
  width: 100%;
  height: 50vh;
  margin-top: 3rem;
  justify-content: center;
  width: 75%;
}

.pictures img {
  width: 85%;
  margin-top: 4rem;
  position: relative;
  z-index: 20;
}

.centerImg {
  margin-top: -9rem;
}

.leftImg {
  margin-right: -8rem;
}

.rp {
  -webkit-animation: MoveUpDown 2s linear infinite;
  animation: MoveUpDown 2s linear infinite;
}

.yp {
  -webkit-animation: MoveUpDown 2s linear infinite;
  animation: MoveUpDown 2s linear infinite;
}

.bp {
  -webkit-animation: MoveUpDown 2s linear infinite;
  animation: MoveUpDown 2s linear infinite;
}

@-webkit-keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }
}

.rightImg {
  margin-left: -7rem;
}

/* Registration */
.regist {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 1rem 1.8rem;
  border: 1px solid white;
  margin-right: 3.8rem;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.regist {
  text-decoration: none;
}

.regist:hover {
  background-color: white;
  color: #000;
  transition: 0.3s;
}

/* Hamburger */
.hamburger {
  width: 25px;
  margin: 3rem 2rem;
  background: white;
  height: 3px;
  border-radius: 1px;
  cursor: pointer;
  position: relative;
  display: none !important;
}

.hamCont {
  cursor: pointer;
}

.hamburger:before {
  content: "";
  position: absolute;
  width: 35px;
  background: white;
  height: 3px;
  right: 0;
  top: -10px;
  border-radius: 1px;
}

.hamburger:after {
  content: "";
  position: absolute;
  width: 12px;
  top: 10px;
  right: 0;
  background: white;
  height: 3px;
  border-radius: 1px;
}

/* Timer */
.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.numbers > div {
  margin-inline: 1.2rem;
  font-size: 1.1rem;
  padding: 0.4rem;
  border-radius: 5px;
}

.time {
  z-index: 30;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 2rem 1.2rem;
}

.card-flip {
  -webkit-animation: card-flip 0.6s;
  animation: card-flip 0.6s;
}

.labels {
  margin-top: 1rem;
  margin-left: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.4rem;
  font-size: 0.8rem;
  transform: translateY(-0.5rem);
}

.labels > div {
  margin-inline: 1rem;
}

@-webkit-keyframes card-flip {
  0% {
    background-color: rgba(255, 255, 255, 0.4);
    transform: rotateX(0deg);
  }

  50% {
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0;
    transform: rotateX(180deg);
  }

  100% {
    background-color: rgba(255, 255, 255, 0);
    transform: rotateX(360deg);
  }
}

@keyframes card-flip {
  0% {
    background-color: rgba(255, 255, 255, 0.4);
    transform: rotateX(0deg);
  }

  50% {
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0;
    transform: rotateX(180deg);
  }

  100% {
    background-color: rgba(255, 255, 255, 0);
    transform: rotateX(360deg);
  }
}

.socials {
  display: flex;
  flex-direction: column;
  color: white;
  margin-right: 3.2rem;
}

.socials i {
  margin-block: 0.5rem;
  font-size: 1.6rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -3.5rem;
  position: relative;
  max-width: 100vw;
  z-index: 30;
}

.scrollNav {
  position: absolute;
  display: flex;
  transform: rotate(-90deg);
  gap: 1rem;
  font-family: "Montserrat", sans-serif;
  top: 51vh;
  left: -8vw;
  background-color: black;
  padding: 20px;
  z-index: 20;
  display: none !important;
}

.navBut {
  cursor: pointer;
}

.active {
  border-bottom: 3px solid white;
  padding: 0 0 6px;
}

.socials > a {
  cursor: pointer;
  text-decoration: none;
}

img.light,
.bg-yellow,
.bg-red,
.bg-blue {
  margin: 0;
  position: absolute;
  z-index: 25;
  pointer-events: none;
}

.bg-yellow,
.bg-red,
.bg-blue {
  z-index: 26;
}

.player {
  z-index: 30 !important;
}

.fall-blue,
.fall-red,
.fall-yellow {
  background-image: none !important;
  height: 80vh !important;
  -webkit-animation-delay: 2.4s !important;
  animation-delay: 2.4s !important;
  transform: translateY(-93vh);
  opacity: 0;
  position: absolute;
}

#lightRed,
.fall-red,
.bg-red {
  left: 10%;
  top: 0;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  height: 100vh;
  width: 35%;
}

@-webkit-keyframes fall-red {
  from {
    transform: scale(0.4) translate(20rem, -93vh);
  }

  to {
    transform: scale(1) translate(0rem, 30vh);
  }
}

@keyframes fall-red {
  from {
    transform: scale(0.4) translate(20rem, -93vh);
  }

  to {
    transform: scale(1) translate(0rem, 30vh);
  }
}

@-webkit-keyframes fall-red-2 {
  from {
    transform: scale(1.2) translate(5rem, -20vh);
  }

  to {
    transform: scale(1.2) translate(4rem, 50vh);
  }
}

@keyframes fall-red-2 {
  from {
    transform: scale(1.2) translate(5rem, -20vh);
  }

  to {
    transform: scale(1.2) translate(4rem, 50vh);
  }
}

#lightBlue,
.fall-blue,
.bg-blue {
  left: 35%;
  -webkit-animation-delay: 2.3s;
  animation-delay: 2.3s;
  top: 0;
  height: 100vh;
  width: 30%;
}

.bg-blue {
  transform: scale(0.8);
}

@-webkit-keyframes fall-blue {
  from {
    transform: scale(0.5) translateY(-93vh);
  }

  to {
    transform: scale(0.8) translateY(30vh);
  }
}

@keyframes fall-blue {
  from {
    transform: scale(0.5) translateY(-93vh);
  }

  to {
    transform: scale(0.8) translateY(30vh);
  }
}

@-webkit-keyframes fall-blue-2 {
  from {
    transform: scale(1.2) translateY(-20vh);
  }

  to {
    transform: scale(1.2) translateY(50vh);
  }
}

@keyframes fall-blue-2 {
  from {
    transform: scale(1.2) translateY(-20vh);
  }

  to {
    transform: scale(1.2) translateY(50vh);
  }
}

#lightYellow,
.fall-yellow,
.bg-yellow {
  left: 55%;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  top: 0;
  height: 99vh;
  width: 30%;
}

@-webkit-keyframes fall-yellow {
  from {
    transform: scale(0.7) translate(-15rem, -93vh);
  }

  to {
    transform: scale(1) translate(0rem, 30vh);
  }
}

@keyframes fall-yellow {
  from {
    transform: scale(0.7) translate(-15rem, -93vh);
  }

  to {
    transform: scale(1) translate(0rem, 30vh);
  }
}

@-webkit-keyframes fall-yellow-2 {
  from {
    transform: scale(1.2) translate(1rem, -20vh);
  }

  to {
    transform: scale(1.2) translate(2rem, 50vh);
  }
}

@keyframes fall-yellow-2 {
  from {
    transform: scale(1.2) translate(1rem, -20vh);
  }

  to {
    transform: scale(1.2) translate(2rem, 50vh);
  }
}

.star {
  position: absolute;
}

.star-type1 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: white;
}

.star-type2 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: white;
}

#reg-cont {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  z-index: 100001;
  transition: -webkit-clip-path 100ms ease;
  transition: clip-path 100ms ease;
  transition: clip-path 100ms ease, -webkit-clip-path 100ms ease;
}

.late-1 {
  -webkit-animation-delay: 17s !important;
  animation-delay: 17s !important;
}

.late-2 {
  -webkit-animation-delay: 34s !important;
  animation-delay: 34s !important;
}

@-webkit-keyframes flicker {
  0% {
    /* filter: blur(5px); */
    opacity: 1;
  }

  3%,
  6% {
    /* filter: blur(5px); */
    opacity: 0;
  }

  7% {
    /* filter: blur(5px); */
    opacity: 1;
  }

  8% {
    /* filter: blur(5px); */
    opacity: 0;
  }

  9% {
    /* filter: blur(5px); */
    opacity: 1;
  }

  10% {
    /* filter: blur(5px); */
    opacity: 0;
  }

  20%,
  50%,
  100% {
    /* filter: blur(5px); */
    opacity: 1;
  }
}

@keyframes flicker {
  0% {
    /* filter: blur(5px); */
    opacity: 1;
  }

  3%,
  6% {
    /* filter: blur(5px); */
    opacity: 0;
  }

  7% {
    /* filter: blur(5px); */
    opacity: 1;
  }

  8% {
    /* filter: blur(5px); */
    opacity: 0;
  }

  9% {
    /* filter: blur(5px); */
    opacity: 1;
  }

  10% {
    /* filter: blur(5px); */
    opacity: 0;
  }

  20%,
  50%,
  100% {
    /* filter: blur(5px); */
    opacity: 1;
  }
}
/*# sourceMappingURL=index.css.map */
