* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 500;
  scroll-behavior: smooth;
}

body,
div,
form {
  scrollbar-width: none;
}

body::-webkit-scrollbar,
div::-webkit-scrollbar,
form::-webkit-scrollbar {
  display: none;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  background-image: url("../Assets/bgReg.png");
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  pointer-events: none;
}

#reg-form {
  font-family: "Montserrat", sans-serif;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  outline: none;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  color: #eeecec;
  padding: 20px 50px;
  overflow-y: auto;
  overflow-x: visible;
}

.col {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  max-height: 100%;
}

#form-close {
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 100;
}

#reg-cont {
  background: rgba(172, 172, 172, 0.02);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 80vw;
  position: static;
}

#form-close-img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 5px;
}

.form-header {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-bottom: 25px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 10px;
}

.form-header h2 {
  font-size: 3rem;
  font-weight: 600;
  width: 100%;
}

.form-input-cont {
  width: 80%;
  position: relative;
  margin-bottom: 35px;
}

div.flex-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

label,
#gender-lbl {
  font-size: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.form-lbl {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto 0;
  transform: translateY(40%) translateX(10px);
  transition: all 200ms ease;
  pointer-events: none;
  transform-origin: 0%;
}

#gender-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#gender-input-cont {
  margin-top: 20px;
}

.form-input:not(:-moz-placeholder-shown) + .form-lbl {
  transform: scale(0.9) translateY(calc(-100% - 5px));
  font-weight: 300;
}

.form-input:not(:-ms-input-placeholder) + .form-lbl {
  transform: scale(0.9) translateY(calc(-100% - 5px));
  font-weight: 300;
}

.form-input-cont:focus-within .form-lbl,
.form-input:not(:placeholder-shown) + .form-lbl {
  transform: scale(0.9) translateY(calc(-100% - 5px));
  font-weight: 300;
}

.lbl-small {
  font-size: 1.25rem;
  font-weight: 300;
}

.form-input {
  font-size: 1rem;
  padding: 10px 10px;
  background-color: rgba(128, 128, 128, 0.1);
  outline: none;
  border: none;
  border-bottom: 1px solid #cccccc;
  width: 100%;
  color: #eeecec;
}

.fa-angle-down {
  position: absolute;
  right: 5%;
  top: 0;
  transform: translateY(60%);
  pointer-events: none;
}

.form-input-cont:last-child {
  margin-bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form-select {
  transform: translateY(-50%);
}

input.form-input[type="radio"] {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  background: black;
}

#sport-sel-list {
  background: rgba(128, 128, 128, 0.1);
  height: calc(3 * (0.75rem + 35px));
  width: 100%;
  overflow-y: auto;
  margin-top: 5px;
  border: 1px solid #cccccc;
  padding: 5px;
}

.sport-item {
  list-style-type: none;
  display: inline-flex;
  flex-direction: row;
  background-color: rgba(200, 200, 200, 0.4);
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 2px;
  font-size: 0.75rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.cross {
  width: 13px;
  height: 13px;
  margin-left: 15px;
  position: relative;
}

.cross::before {
  position: absolute;
  height: 2px;
  width: 115%;
  top: 0;
  background-color: white;
  content: "";
  transform: rotate(45deg);
  transform-origin: 0;
}

.cross::after {
  position: absolute;
  height: 2px;
  width: 115%;
  bottom: 0;
  background-color: white;
  content: "";
  transform: rotate(-45deg);
  transform-origin: 0;
}

#form-submit-cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.form-list {
  display: none;
  grid-template-columns: 1fr;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  max-height: calc(5 * (1rem + 20px));
  overflow-y: scroll;
  width: 100%;
  position: absolute;
  z-index: 20;
  top: 105%;
  transition: -webkit-clip-path 200ms ease;
  transition: clip-path 200ms ease;
  transition: clip-path 200ms ease, -webkit-clip-path 200ms ease;
}

#yos-list {
  bottom: 100%;
  top: auto;
}

#sport-list {
  top: 30%;
}

#yos-list {
  bottom: 100%;
  top: auto;
}

.form-list li {
  background-color: #cccccc;
  color: black;
  padding: 10px 20px;
  font-size: 1rem;
}

.form-list li:hover {
  background-color: black;
  color: #eeecec;
}

#form-submit {
  padding: 10px 30px;
  background: rgba(0, 0, 0, 0.5);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  outline: none;
  color: white;
  border: 2px solid #eeecec;
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
  transition: all 500ms ease;
  cursor: pointer;
}

#form-submit:hover {
  background-color: rgba(41, 41, 41, 0.9);
}

datalist {
  background-color: black;
}

#yos_opt {
  color: #eeecec;
}

#gender-cont .lbl-small {
  margin-right: clamp(10px, 3%, 30px);
}

@media (max-width: 800px) {
  .form-header {
    margin-bottom: 40px;
  }

  .form-header h2 {
    font-size: 1.5rem;
  }

  #form-close {
    top: 19px;
    left: 20px;
  }

  #form-close-img {
    width: 20px;
    height: 20px;
  }

  .col {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .form-input-cont {
    margin-bottom: 40px;
    width: 100%;
  }

  .form-input-cont:last-child {
    margin-bottom: 40px;
  }

  label,
  #gender-lbl {
    font-size: 0.9rem;
  }

  .lbl-small {
    font-size: 0.75rem;
  }

  .form-input {
    font-size: 0.9rem;
  }

  #reg-form {
    padding: 20px 32px;
  }

  #sport-sel-list {
    padding: 2px;
    max-height: calc(2 * (0.75rem + 22px));
  }

  .cross {
    height: 10px;
    width: 10px;
    margin-left: 10px;
  }

  .form-list li {
    padding: 5px 10px;
    font-size: 0.9rem;
  }

  .sport-item {
    padding: 3px 8px;
    font-size: 0.75rem;
  }

  #form-submit-cont {
    margin-bottom: 40px;
  }

  #form-submit {
    font-size: 1rem;
    padding: 5px 15px;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

/* responsive */
@media (max-width: 400px) {
  #reg-form {
    padding: 10px 10px;
  }

  .form-header {
    margin-bottom: 40px;
  }

  .form-header h2 {
    font-size: 1.3rem;
  }

  #form-close {
    top: 8px;
    left: 10px;
  }

  #form-close-img {
    width: 20px;
    height: 20px;
  }

  .form-input-cont:last-child {
    margin-bottom: 30px;
  }

  .form-input-cont {
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
  }

  label,
  #gender-lbl {
    font-size: 1rem;
  }

  .lbl-small {
    font-size: 0.75rem;
  }

  .form-input:not(:-moz-placeholder-shown) + .form-lbl {
    transform: scale(0.9) translateY(calc(-100% - 3px));
  }

  .form-input:not(:-ms-input-placeholder) + .form-lbl {
    transform: scale(0.9) translateY(calc(-100% - 3px));
  }

  .form-input-cont:focus-within .form-lbl,
  .form-input:not(:placeholder-shown) + .form-lbl {
    transform: scale(0.9) translateY(calc(-100% - 3px));
  }

  .form-input {
    font-size: 0.75rem;
  }

  .form-lbl,
  #gender-lbl {
    font-size: 0.75rem;
  }

  #form-submit {
    font-size: 0.9rem;
  }
}
