* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 500;
  scrollbar-color: #eeecec transparent;
}

*::-webkit-scrollbar-thumb {
  background: #eeecec;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

body {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

#reg-form {
  font-family: "Montserrat", sans-serif;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  outline: none;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  color: #eeecec;
  padding: 20px 50px;
  overflow-y: auto;
  overflow-x: hidden;
}

.col {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-content: center;
  justify-content: center;
}

.bgImage {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

#form_close {
  cursor: pointer;
}

#reg-cont {
  background: rgba(172, 172, 172, 0.02);
  height: 90vh;
  width: 80vw;
}

#form_close_img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 5px;
}

.form-header {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  height: min-content;
}

.form-header h2 {
  font-size: 3rem;
  font-weight: 700;
  width: 100%;
}

.form-input-cont {
  width: 80%;
  position: relative;
  margin-bottom: 35px;
}

label {
  font-size: 1.25rem;
}

.form-lbl {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto 0;
  transform: translateY(40%);
  transition: all 200ms ease;
  pointer-events: none;
  transform-origin: 0%;
}

.form-input-cont:focus-within .form-lbl,
.form-input:not(:placeholder-shown) + .form-lbl,
#gender-lbl {
  transform: scale(0.8) translateY(calc(-105%));
  font-weight: 300;
}

.lbl-small {
  font-size: 1rem;
  font-weight: 300;
}

.form-input {
  font-size: 1.25rem;
  padding: 10px 0;
  background-color: rgba(128, 128, 128, 0.1);
  outline: none;
  border: none;
  border-bottom: 1px solid #cccccc;
  width: 80%;
  color: #eeecec;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  background-color: black;
  font-family: "Montserrat", sans-serif;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form-select {
  transform: translateY(-50%);
}

input.form-input[type="radio"] {
  width: min-content;
  background: black;
}

#sport-sel-list {
  display: flex;
  flex-wrap: wrap;
  background: rgba(128, 128, 128, 0.1);
  height: calc(1rem + 23px);
  width: 80%;
  overflow-y: auto;
  margin-top: 5px;
  border: 1px solid #cccccc;
}

.sport-item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  background-color: rgba(200, 200, 200, 0.4);
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  font-size: 1rem;
}

.cross {
  width: 13px;
  height: 13px;
  margin-left: 15px;
  position: relative;
}

.cross::before {
  position: absolute;
  height: 2px;
  width: 15px;
  top: 0;
  background-color: white;
  content: "";
  transform: rotate(45deg);
  transform-origin: 0;
}

.cross::after {
  position: absolute;
  height: 2px;
  width: 15px;
  bottom: 0;
  background-color: white;
  content: "";
  transform: rotate(-45deg);
  transform-origin: 0;
}

#form-submit-cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#form-submit {
  padding: 10px 30px;
  background: rgba(0, 0, 0, 0.5);
  outline: none;
  color: white;
  border: 2px solid #eeecec;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  transition: all 500ms ease;
  cursor: pointer;
}

#yos_opt {
  color: #eeecec;
}

#gender-cont .lbl-small {
  margin-right: clamp(10px, 3%, 30px);
}

@media (max-width: 800px) {
  .form-header {
    margin-bottom: 20px;
  }

  .form-header h2 {
    font-size: 1.5rem;
  }

  #form_close_img {
    width: 20px;
    height: 20px;
  }

  .col {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .form-input-cont {
    margin-bottom: 30px;
    width: 100%;
  }

  label,
  #gender-lbl {
    font-size: 1rem;
  }

  .lbl-small {
    font-size: 0.75rem;
  }

  .form-input {
    width: 100%;
    font-size: 1rem;
  }

  #reg-form {
    padding: 20px 32px;
  }

  #sport-sel-list {
    max-height: calc(0.75rem + 18px);
    width: 100%;
  }

  .sport-item {
    padding: 3px 8px;
    font-size: 0.75rem;
  }

  #form-submit {
    font-size: 1.25rem;
    padding: 5px 15px;
  }
}

/* responsive */

@media (max-width: 400px) {
  .form-header {
    margin-bottom: 20px;
  }

  .form-header h2 {
    font-size: 1.2rem;
  }

  #form_close_img {
    width: 20px;
    height: 20px;
    margin-left: -1.2rem;
  }

  .form-input-cont {
    align-items: center;
    justify-content: center;
    margin-bottom: 1.2rem;
  }

  label,
  #gender-lbl {
    font-size: 1rem;
  }

  .lbl-small {
    font-size: 0.75rem;
  }

  .form-input {
    width: 100%;
    font-size: 0.75rem;
  }

  .form-lbl {
    font-size: 0.75rem;
  }
}
