@media screen and (max-width: 800px) {
  .scrollNav {
    left: -9rem !important;
    font-size: 0.8rem;
  }

  .text h2 {
    font-size: 11rem;
    margin-bottom: 1rem;
  }


  footer {
    transform: translateY(-3rem);
  }

  .text h3 {
    font-size: 2rem;
  }

  .line {
    top: 0 !important;
    left: 0 !important;
  }

  .time {
    margin: 0;
  }

  .labels {
    transform: translateX(-1rem);
    margin-top: 0.4rem;
    margin-left: 2.6rem;
    padding: 0;
    justify-content: center;
  }

  .socials {
    margin-right: 0.6rem;
  }

  .numbers div {
    margin-inline: 0.5rem;
    font-size: 0.8rem;
  }
  main{
    margin-top: 5rem;
  }
  .labels div {
    font-size: 0.55rem;
    transform: none;
    margin-inline: 0.4rem;
  }

  footer .fa {
    font-size: 1.25rem;
  }

  footer {
    padding: 0 1rem;
  }

  .left img {
    width: 60px;
  }

  .right {
    gap: 1.4rem;
    align-items: flex-start;
  }

  nav * {
    margin-inline: 0.5rem !important;
    margin-block: 0.7rem !important;
  }

  .light {
    top: -8vh !important;
    height: 80vh !important;
    width: 40vw !important;
  }

  #lightRed {
    transform: translateX(-2.4rem) rotate(5.29deg);
    left: 5%;
  }

  #lightBlue {
    transform: translateX(-1.4rem);
    
  }

  #lightYellow {
    transform: translateX(0.2rem) rotate(-5.29deg);
    left: 60%;
  }

  .bp {
    transform: scale(1.3) translateY(0rem);
    animation: MoveUpDown1 2s linear infinite;
  }

  .rp {
    transform: scale(1.1) translateY(-3rem) translateX(-2rem);
    animation: MoveUpDown2 2s linear infinite;

  }

  .yp {
    transform: scale(1.1) translateY(-3rem) translateX(2rem);
    animation: MoveUpDown3 2s linear infinite;

  }

  @keyframes MoveUpDown1 {
    0%, 100% {
      transform: scale(1.3) translateY(0rem);
    }
    50% {
      transform: scale(1.3) translateY(4px);
    }
  }
  @keyframes MoveUpDown2 {
    0%, 100% {
      transform: scale(1.1) translateY(-3rem) translateX(-2rem);
    }
    50% {
      transform: scale(1.1) translateY(-2.75rem) translateX(-2rem);
    }
  }
  @keyframes MoveUpDown3 {
    0%, 100% {
      transform: scale(1.1) translateY(-3rem) translateX(2rem);
    }
    50% {
      transform: scale(1.1) translateY(-2.75rem) translateX(2rem);
    }
  }

  .text * {
    transform: translateY(-2rem);
  }

  #phoneRegist {
    transform: translateY(-3rem);
  }

  .text h2 {
    letter-spacing: -0.25rem;
  }

  #l1 {
    top: 47vh !important;
    left: 81vw !important;
  }

  #l2 {
    top: 5vh !important;
    z-index: 21;
    left: 92vw !important;
  }

  #l3 {
    top: 2vh !important;
    left: 38vw !important;
  }

  #l4 {
    top: 56vh !important;
    left: 29vw !important;
  }

  #l5 {
    top: 58vh !important;
    left: 50vw !important;
  }

  #l6 {
    top: 26vh !important;
    left: 62vw !important;
    z-index: 21;
  }

  #l7 {
    top: 11vh !important;
    left: 12vw !important;
  }
  #l9{
    left: 19rem !important;
    top: 11rem !important;
  }
  #l8{
    left: 23rem !important;
    top: 8rem !important;
  }
  #l10{
    left: 7rem !important;
    top: 7rem !important;
  }
  #l11 {
    top: 4rem !important;
    left: 14rem !important;
  }
}

@media screen and (max-width: 650px) {
  .text h2 {
    font-size: 8rem;
  }

  .text h3 {
    font-size: 1.6rem;
  }

  footer {
    transform: translateY(0rem) !important;
  }
}

@media screen and (max-width: 500px) {
  .line {
    transform: scale(0.6) translateY(-35px);
    z-index: 0 !important;
  }

  #l1,
  #l4,
  #l5 {
    transform: scale(0.7) translateY(-40px);
  }
  .left img {
    width: 50px;
  }
  #l9{
    left: 24rem !important;
    top: 7rem !important;
  }
  #l8{
    left: 27rem !important;
    top: 28rem !important;
  }
  #l10{
    left: 7rem !important;
    top: 7rem !important;
  }
  #l11 {
    top: 4rem !important;
    left: 14rem !important;
  }
  .text h2 {
    font-size: 6rem;
  }

  #l4 {
    left: 18vw !important;
  }

  footer {
    transform: translateY(-4rem);
  }

  .text h3 {
    margin-top: -1rem;
    font-size: 1.2rem;
  }

  .scrollNav {
    display: none;
  }

  .hamburger {
    margin: 2rem 0rem;
  }

  #phoneRegist {
    display: block;
    z-index: 30;
    font-family: "Montserrat", sans-serif;
  }

  #desktopRegist {
    display: none;
  }
}
