<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta dev-name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet" />


    <title>&nbsp;Developers</title>
    <link href="../Assets/Logo.png" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="../CSS/developers.css" />
</head>


<h2 class="dev-head">Developers</h2>
<div class="dev-body">
    <div class="six">

        <div class="dev-profile">
            <div class="img-wrapper">
                <img class="dev-img" src="../Assets/Madhav.png" />
            </div>

            <h2 class="dev-name">
                Madhav <br />
                Garg
            </h2>
            <p class="dev-dept">UI/UX Designer</p>
            <p class="dev-links">
                <a class="dev-link" href="#"><img src="../Assets/twitter.svg"></a>
                <a class="dev-link" href="#"><img src="../Assets/github.svg"></a>
                <a class="dev-link" href="#"><img src="../Assets/linkedin.svg"></a>
            </p>
        </div>

        <div class="dev-profile">
            <div class="img-wrapper">
                <img class="dev-img" src="../Assets/Madhav.png" />
            </div>

            <h2 class="dev-name">
                Madhav <br />
                Garg
            </h2>
            <p class="dev-dept">UI/UX Designer</p>
            <p class="dev-links">
                <a class="dev-link" href="#"><img src="../Assets/twitter.svg"></a>
                <a class="dev-link" href="#"><img src="../Assets/github.svg"></a>
                <a class="dev-link" href="#"><img src="../Assets/linkedin.svg"></a>
            </p>
        </div>

        <div class="dev-profile">
            <div class="img-wrapper">
                <img class="dev-img" src="../Assets/Madhav.png" />
            </div>

            <h2 class="dev-name">
                Madhav <br />
                Garg
            </h2>
            <p class="dev-dept">UI/UX Designer</p>
            <p class="dev-links">
                <a class="dev-link" href="#"><img src="../Assets/twitter.svg"></a>
                <a class="dev-link" href="#"><img src="../Assets/github.svg"></a>
                <a class="dev-link" href="#"><img src="../Assets/linkedin.svg"></a>
            </p>
        </div>

        <div class="dev-profile">
            <div class="img-wrapper">
                <img class="dev-img" src="../Assets/Madhav.png" />
            </div>

            <h2 class="dev-name">
                Madhav <br />
                Garg
            </h2>
            <p class="dev-dept">UI/UX Designer</p>
            <p class="dev-links">
                <a class="dev-link" href="#"><img src="../Assets/twitter.svg"></a>
                <a class="dev-link" href="#"><img src="../Assets/github.svg"></a>
                <a class="dev-link" href="#"><img src="../Assets/linkedin.svg"></a>
            </p>
        </div>

        <div class="dev-profile">
            <div class="img-wrapper">
                <img class="dev-img" src="../Assets/Madhav.png" />
            </div>

            <h2 class="dev-name">
                Madhav <br />
                Garg
            </h2>
            <p class="dev-dept">UI/UX Designer</p>
            <p class="dev-links">
                <a class="dev-link" href="#"><img src="../Assets/twitter.svg"></a>
                <a class="dev-link" href="#"><img src="../Assets/github.svg"></a>
                <a class="dev-link" href="#"><img src="../Assets/linkedin.svg"></a>
            </p>
        </div>

        <div class="dev-profile">
            <div class="img-wrapper">
                <img class="dev-img" src="../Assets/Madhav.png" />
            </div>

            <h2 class="dev-name">
                Madhav <br />
                Garg
            </h2>
            <p class="dev-dept">UI/UX Designer</p>
            <p class="dev-links">
                <a class="dev-link" href="#"><img src="../Assets/twitter.svg"></a>
                <a class="dev-link" href="#"><img src="../Assets/github.svg"></a>
                <a class="dev-link" href="#"><img src="../Assets/linkedin.svg"></a>
            </p>
        </div>
    </div>
    <div class="five">

        <div class="dev-profile">
            <div class="img-wrapper">
                <img class="dev-img" src="../Assets/Madhav.png" />
            </div>

            <h2 class="dev-name">
                Madhav <br />
                Garg
            </h2>
            <p class="dev-dept">UI/UX Designer</p>
            <p class="dev-links">
                <a class="dev-link" href="#"><img src="../Assets/twitter.svg"></a>
                <a class="dev-link" href="#"><img src="../Assets/github.svg"></a>
                <a class="dev-link" href="#"><img src="../Assets/linkedin.svg"></a>
            </p>
        </div>

        <div class="dev-profile">
            <div class="img-wrapper">
                <img class="dev-img" src="../Assets/Madhav.png" />
            </div>

            <h2 class="dev-name">
                Madhav <br />
                Garg
            </h2>
            <p class="dev-dept">UI/UX Designer</p>
            <p class="dev-links">
                <a class="dev-link" href="#"><img src="../Assets/twitter.svg"></a>
                <a class="dev-link" href="#"><img src="../Assets/github.svg"></a>
                <a class="dev-link" href="#"><img src="../Assets/linkedin.svg"></a>
            </p>
        </div>

        <div class="dev-profile">
            <div class="img-wrapper">
                <img class="dev-img" src="../Assets/Madhav.png" />
            </div>

            <h2 class="dev-name">
                Madhav <br />
                Garg
            </h2>
            <p class="dev-dept">UI/UX Designer</p>
            <p class="dev-links">
                <a class="dev-link" href="#"><img src="../Assets/twitter.svg"></a>
                <a class="dev-link" href="#"><img src="../Assets/github.svg"></a>
                <a class="dev-link" href="#"><img src="../Assets/linkedin.svg"></a>
            </p>
        </div>

        <div class="dev-profile">
            <div class="img-wrapper">
                <img class="dev-img" src="../Assets/Madhav.png" />
            </div>

            <h2 class="dev-name">
                Madhav <br />
                Garg
            </h2>
            <p class="dev-dept">UI/UX Designer</p>
            <p class="dev-links">
                <a class="dev-link" href="#"><img src="../Assets/twitter.svg"></a>
                <a class="dev-link" href="#"><img src="../Assets/github.svg"></a>
                <a class="dev-link" href="#"><img src="../Assets/linkedin.svg"></a>
            </p>
        </div>

        <div class="centre dev-profile">
            <div class="img-wrapper">
                <img class="dev-img" src="../Assets/Madhav.png" />
            </div>

            <h2 class="dev-name">
                Madhav <br />
                Garg
            </h2>
            <p class="dev-dept">UI/UX Designer</p>
            <p class="dev-links">
                <a class="dev-link" href="#"><img src="../Assets/twitter.svg"></a>
                <a class="dev-link" href="#"><img src="../Assets/github.svg"></a>
                <a class="dev-link" href="#"><img src="../Assets/linkedin.svg"></a>
            </p>
        </div>

    </div>
</div>

<body>
</body>

</html>