<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />

  <title>&nbsp;Developers</title>
  <link href="../Assets/Logo.png" rel="shortcut icon" type="image/x-icon" />
  <link rel="stylesheet" href="../Styles/developers.css" />
  <link href="../Styles/loader.css" rel="stylesheet" />
  <script defer src="../Scripts/hamburger.js"></script>
  <script defer src="../Scripts/index.js"></script>
  <script defer src="../Scripts/loader.js"></script>
</head>

<body>
  <div class="loader">
    <div class="video-wrapper">
      <video autoplay loop muted playsinline id="video" width="100%">
        <source src="../Assets/loader.mp4" type="video/mp4" />
      </video>
      <div class="shadow"></div>
    </div>

    <div class="hide">CLICK TO CONTINUE</div>
  </div>
 
  <div class="ham-grid">
    <div class="ham-logo ham-hide"><img src="../Assets/ham-logo.png" /></div>
    <div class="ham-img ham-hide">
      <img src="../Assets/ham-img.png" /><span></span>
    </div>

    <div class="ham-links">
      <div>
        <a href="../index.html">HOME</a>
        <a href="./registration.html">REGISTRATION</a>
        <a href="./ignition.html">IGNITION</a>
        <a href="./sponsors.html">SPONSORS</a>
        <a href="./gallery.html">GALLERY</a>
        <a href="https://dvm-bitspilani.github.io/bosm-2019-main/">ARCHIVES</a>
        <a style="display: none" href="#">LOGIN</a>
      </div>
    </div>

    <div class="ham-text ham-hide">
      <img src="../Assets/ham-text.png" /><span></span>
    </div>
    <div class="ham-icons ham-hide">
      <a href="https://www.facebook.com/bosmbitspilani" target="_blank">
        <img aria-hidden="true" src="../Assets/Facebook.png" class="ham-icon" />
      </a>
      <a href="https://www.instagram.com/bitsbosm/" target="_blank">
        <img aria-hidden="true" src="../Assets/Instagram.png" class="ham-icon" />
      </a>
    </div>
  </div>

  <nav class="nav">
    <div class="right">
      <div class="ham-cont">
        <div class="hamburger">
          <span class="ham-1"></span>
          <span class="ham-2"></span>
          <span class="ham-3"></span>
        </div>
      </div>
    </div>
  </nav>

  <h2 class="dev-head">DEVELOPERS</h2>
  <div class="dev-body">
    <div class="dev-profile">
      <div class="img-wrapper">
        <img class="dev-img" src="../Assets/prateek.png" />
      </div>

      <h2 class="dev-name">
        <span>Prateek</span>
        <span>Kashyap</span>
      </h2>

      <p class="dev-dept">Front-End</p>
      <p class="dev-links">
        <a class="dev-link" href="https://github.com/bit-by-bits"><img src="../Assets/github.svg" /></a>
        <a class="dev-link" href="https://www.linkedin.com/in/bit-by-bits/"><img src="../Assets/linkedin.svg" /></a>
      </p>
    </div>

    <div class="dev-profile">
      <div class="img-wrapper">
        <img class="dev-img" src="../Assets/shwetabh.jpeg" />
      </div>

      <h2 class="dev-name">
        <span>Shwetabh</span>
        <span>Niket</span>
      </h2>

      <p class="dev-dept">Front-End</p>
      <p class="dev-links">
        <a class="dev-link" href="https://www.twitter.com/shwetabhNiket"><img src="../Assets/twitter.svg" /></a>
        <a class="dev-link" href="https://www.github.com/nIMblEt06"><img src="../Assets/github.svg" /></a>
        <a class="dev-link" href="https://www.linkedin.com/in/niketshwetabh"><img src="../Assets/linkedin.svg" /></a>
      </p>
    </div>
    <div class="dev-profile">
      <div class="img-wrapper">
        <img class="dev-img" src="../Assets/jay.jpg" />
      </div>

      <h2 class="dev-name">
        <span>Jay</span>
        <span>Goyal</span>
      </h2>

      <p class="dev-dept">Front-End</p>
      <p class="dev-links">
        <a class="dev-link" href="https://github.com/jay-goyal"><img src="../Assets/github.svg" /></a>
        <a class="dev-link" href="https://www.linkedin.com/in/jay-goyal-41395b224/"><img
            src="../Assets/linkedin.svg" /></a>
      </p>
    </div>

    <div class="dev-profile">
      <div class="img-wrapper">
        <img class="dev-img" src="../Assets/Aaradhya.jpg" />
      </div>

      <h2 class="dev-name">
        <span>Aaradhya</span>
        <span>Kulshrestha</span>
      </h2>

      <p class="dev-dept">Front-End</p>
      <p class="dev-links">
        <a class="dev-link" href="https://twitter.com/aaradhyakul"><img src="../Assets/twitter.svg" /></a>
        <a class="dev-link" href="https://github.com/aaradhyakul"><img src="../Assets/github.svg" /></a>
        <a class="dev-link" href="https://www.linkedin.com/in/aaradhya-kulshrestha-20bab8223"><img
            src="../Assets/linkedin.svg" /></a>
      </p>
    </div>

    <div class="dev-profile">
      <div class="img-wrapper">
        <img class="dev-img" src="../Assets/vaibhavS.jpg" />
      </div>

      <h2 class="dev-name">
        <span>Vaibhav</span>
        <span>Singla</span>
      </h2>

      <p class="dev-dept">Front-End</p>
      <p class="dev-links">
        <a class="dev-link" href="https://github.com/CoderVaibhavS"><img src="../Assets/github.svg" /></a>
        <a class="dev-link" href="https://www.linkedin.com/in/vaibhav-singla-8128321b3/"><img
            src="../Assets/linkedin.svg" /></a>
      </p>
    </div>

    <div class="dev-profile">
      <div class="img-wrapper">
        <img class="dev-img" src="../Assets/swaha.jpeg" />
      </div>

      <h2 class="dev-name">
        <span>Swaha</span>
        <span>Pati</span>
      </h2>

      <p class="dev-dept">UI/UX Designer</p>
      <p class="dev-links">
        <a class="dev-link" href="https://twitter.com/swahapati"><img src="../Assets/twitter.svg" /></a>
        <a class="dev-link" href="http://www.linkedin.com/in/swahapati"><img src="../Assets/linkedin.svg" /></a>
      </p>
    </div>

    <div class="dev-profile">
      <div class="img-wrapper">
        <img class="dev-img" src="../Assets/sejal.jpeg" />
      </div>

      <h2 class="dev-name">
        <span>Sejal</span>
        <span>Agarwal</span>
      </h2>

      <p class="dev-dept">UI/UX Designer</p>
      <p class="dev-links">
        <a class="dev-link" href="https://twitter.com/sejalag44718131"><img src="../Assets/twitter.svg" /></a>
        <a class="dev-link" href="https://github.com/Sejal1506"><img src="../Assets/github.svg" /></a>
        <a class="dev-link" href="https://www.linkedin.com/in/sejal-agarwal-618176228/"><img
            src="../Assets/linkedin.svg" /></a>
      </p>
    </div>

    <div class="dev-profile">
      <div class="img-wrapper">
        <img class="dev-img" src="../Assets/aditya.jpeg" />
      </div>

      <h2 class="dev-name">
        <span>Aditya</span>
        <span>Patil</span>
      </h2>

      <p class="dev-dept">UI/UX Designer</p>
      <p class="dev-links">
        <a class="dev-link" href="https://twitter.com/AnAvUser?t=3zMTVg6rAofnDcwFSdsATQ&s=09"><img
            src="../Assets/twitter.svg" /></a>
        <a class="dev-link" href="https://github.com/AnAvgUser"><img src="../Assets/github.svg" /></a>
        <a class="dev-link" href="https://www.linkedin.com/in/aditya-patil-aa2431230"><img
            src="../Assets/linkedin.svg" /></a>
      </p>
    </div>

    <div class="dev-profile">
      <div class="img-wrapper">
        <img class="dev-img" src="../Assets/satwik.jpg" />
      </div>

      <h2 class="dev-name">
        <span>Satwik</span>
        <span>Rath</span>
      </h2>

      <p class="dev-dept">UI/UX Designer</p>
      <p class="dev-links">
        <a class="dev-link" href="https://www.linkedin.com/in/satwik-rath-70034421b/"><img
            src="../Assets/linkedin.svg" /></a>
      </p>
    </div>

    <div class="dev-profile">
      <div class="img-wrapper">
        <img class="dev-img" src="../Assets/shivang.jpeg" />
      </div>

      <h2 class="dev-name">
        <span>Shivang</span>
        <span>Rai</span>
      </h2>

      <p class="dev-dept">UI/UX Designer</p>
      <p class="dev-links">
        <a class="dev-link" href="https://www.twitter.com/shivang72685286"><img src="../Assets/twitter.svg" /></a>
        <a class="dev-link" href="https://github.com/shivang-rai"><img src="../Assets/github.svg" /></a>
        <a class="dev-link" href="https://www.linkedin.com/in/shivang-rai-36a0481bb/"><img
            src="../Assets/linkedin.svg" /></a>
      </p>
    </div>

    <div class="dev-profile back-1">
      <div class="img-wrapper">
        <img class="dev-img" src="../Assets/prakhar.jpeg" />
      </div>

      <h2 class="dev-name">
        <span>Prakhar</span>
        <span>Gurunani</span>
      </h2>

      <p class="dev-dept">Back-End</p>
      <p class="dev-links">
        <a class="dev-link" href="https://twitter.com/FirePing32/"><img src="../Assets/twitter.svg" /></a>
        <a class="dev-link" href="https://github.com/FirePing32/"><img src="../Assets/github.svg" /></a>
        <a class="dev-link" href="https://linkedin.com/in/prakhargurunani/"><img src="../Assets/linkedin.svg" /></a>
      </p>
    </div>
    <div class="dev-profile back-2">
      <div class="img-wrapper">
        <img class="dev-img" src="../Assets/harsh.jpeg" />
      </div>

      <h2 class="dev-name">
        <span>Harsh</span>
        <span>Singh</span>
      </h2>

      <p class="dev-dept">Back-End</p>
      <p class="dev-links">
        <a class="dev-link" href="https://twitter.com/harsh_singh58?t=NDO5fvFMXJfGMIo5-cOSQw&s=09"><img
            src="../Assets/twitter.svg" /></a>
        <a class="dev-link" href="https://github.com/DankMemes4President"><img src="../Assets/github.svg" /></a>
        <a class="dev-link" href="https://www.linkedin.com/in/harsh-singh-049838227"><img
            src="../Assets/linkedin.svg" /></a>
      </p>
    </div>
    <div class="centre dev-profile back-3">
      <div class="img-wrapper">
        <img class="dev-img" src="../Assets/maanas.jpg" />
      </div>

      <h2 class="dev-name">
        <span>Maanas</span>
        <span>Singh</span>
      </h2>

      <p class="dev-dept">Back-End</p>
      <p class="dev-links">
        <a class="dev-link" href="https://github.com/Maanas-23"><img src="../Assets/github.svg" /></a>
        <a class="dev-link" href="https://www.linkedin.com/in/maanas-singh-482318240"><img
            src="../Assets/linkedin.svg" /></a>
      </p>
    </div>
  </div>
</body>

</html>