<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Director's Message</title>
  <link href="https://fonts.googleapis.com" rel="preconnect" />
  <link crossorigin href="https://fonts.gstatic.com" rel="preconnect" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap" rel="stylesheet" />
  <link href="../Assets/Logo.png" rel="shortcut icon" type="image/x-icon" />
  <link rel="stylesheet" href="../Styles/index.css" />
  <link rel="stylesheet" href="../Styles/director.css" />
  <link href="../Styles/loader.css" rel="stylesheet" />

  <script defer src="../Scripts/hamburger.js"></script>
  <script defer src="../Scripts/loader.js"></script>
</head>

<body>
  <div class="loader">
    <div class="video-wrapper">
      <video autoplay loop muted playsinline id="video" width="100%">
        <source src="../Assets/loader.mp4" type="video/mp4" />
      </video>
      <div class="shadow"></div>
    </div>

    <div class="hide">CLICK TO CONTINUE</div>
  </div>

  <div class="ham-grid">
    <div class="ham-logo ham-hide"><img src="../Assets/ham-logo.png" /></div>
    <div class="ham-img ham-hide">
      <img src="../Assets/ham-img.png" /><span></span>
    </div>

    <div class="ham-links">
      <div>
        <a href="../index.html">HOME</a>
        <a href="./registration.html">REGISTRATION</a>
        <a href="./ignition.html">IGNITION</a>
        <a href="./gallery.html">GALLERY</a>
        <a href="./sponsors.html">SPONSORS</a>
        <a href="https://dvm-bitspilani.github.io/bosm-2019-main/">ARCHIVES</a>
        <a style="display: none" href="#">LOGIN</a>
        <a href="./developers.html">DEVELOPERS</a>
      </div>
    </div>

    <div class="ham-text ham-hide">
      <img src="../Assets/ham-text.png" /><span></span>
    </div>
    <div class="ham-icons ham-hide">
      <a href="https://www.facebook.com/bosmbitspilani" target="_blank">
        <img aria-hidden="true" src="../Assets/Facebook.png" class="ham-icon" />
      </a>
      <a href="https://www.instagram.com/bitsbosm/" target="_blank">
        <img aria-hidden="true" src="../Assets/Instagram.png" class="ham-icon" />
      </a>
    </div>
  </div>

  <nav class="nav absolute">
    <div class="right">
      <div class="ham-cont">
        <div class="hamburger">
          <span class="ham-1"></span>
          <span class="ham-2"></span>
          <span class="ham-3"></span>
        </div>
      </div>
    </div>
  </nav>

        <div class="director director-page" id="director">
          <h2 class="sec-header dir-header dir-header-page" id="dir-header-1">A MESSAGE FROM</h2>
          <h2 class="sec-header dir-header dir-header-page">THE DIRECTOR'S DESK</h2>
          <div class="dir-cont dir-cont-page">
            <div class="dir-profile dir-profile-page">
              <div class="dir-img-div">
                <img src="../Assets/director.png" alt="" class="dir-img">
                <!-- <div class="dir-leaves">
                  <img src="../Assets/left-leaf.png" alt="" class="dir-leaf" id="dir-left-leaf">
                  <img src="../Assets/right-leaf.png" alt="" class="dir-leaf" id="dir-right-leaf">
                </div> -->
              </div>

        <p class="dir-para dir-para-page dir-name dir-name-page">
          Sudhirkumar V Barai
        </p>
        <p class="dir-para dir-para-page dir-intro dir-intro-page" id="dir-post">
          Director, BITS Pilani, Pilani Campus
        </p>
      </div>

      <div class="dir-msg-cont dir-msg-cont-page">
        <div class="dir-msg">
          <svg class="dir-quotes dir-quotes-page" id="dir-quote-start-page" width="144" height="114"
            viewBox="0 0 144 114" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M38.7504 113.002L58.0095 88.1744C53.9875 86.3181 49.9655 83.9977 45.9435 81.2132C42.0762 78.4288 38.905 74.7162 36.43 70.0754C34.1096 65.4346 32.9494 59.247 32.9494 51.5124L0 52.6725C0 64.5838 2.16568 74.5615 6.49706 82.6055C10.8284 90.8041 15.9333 97.3786 21.8116 102.329C27.8446 107.279 33.4908 110.837 38.7504 113.002ZM53.3687 52.6725V-9.15527e-05H0V52.6725H53.3687ZM123.908 113.002L143.167 88.1744C138.991 86.3181 134.969 83.9977 131.102 81.2132C127.234 78.4288 124.063 74.7162 121.588 70.0754C119.113 65.4346 117.875 59.247 117.875 51.5124L85.158 52.6725C85.158 64.5838 87.2463 74.5615 91.423 82.6055C95.7544 90.8041 100.937 97.3786 106.97 102.329C113.003 107.279 118.649 110.837 123.908 113.002ZM138.527 52.6725V-9.15527e-05H85.158V52.6725H138.527Z"
              fill="url(#paint0_radial_865_1333)" />
            <defs>
              <radialGradient id="paint0_radial_865_1333" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                gradientTransform="translate(74.0342 119.771) rotate(-90.7047) scale(199.241 111.876)">
                <stop stop-color="white" />
                <stop offset="0.554603" stop-color="#CACACA" />
                <stop offset="0.699897" stop-color="#E5E5E5" />
                <stop offset="1" stop-color="#32322F" />
              </radialGradient>
            </defs>
          </svg>

          <svg class="dir-quotes dir-quotes-page" id="dir-quote-end-page" width="144" height="114" viewBox="0 0 144 114"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M38.7504 113.002L58.0095 88.1744C53.9875 86.3181 49.9655 83.9977 45.9435 81.2132C42.0762 78.4288 38.905 74.7162 36.43 70.0754C34.1096 65.4346 32.9494 59.247 32.9494 51.5124L0 52.6725C0 64.5838 2.16568 74.5615 6.49706 82.6055C10.8284 90.8041 15.9333 97.3786 21.8116 102.329C27.8446 107.279 33.4908 110.837 38.7504 113.002ZM53.3687 52.6725V-9.15527e-05H0V52.6725H53.3687ZM123.908 113.002L143.167 88.1744C138.991 86.3181 134.969 83.9977 131.102 81.2132C127.234 78.4288 124.063 74.7162 121.588 70.0754C119.113 65.4346 117.875 59.247 117.875 51.5124L85.158 52.6725C85.158 64.5838 87.2463 74.5615 91.423 82.6055C95.7544 90.8041 100.937 97.3786 106.97 102.329C113.003 107.279 118.649 110.837 123.908 113.002ZM138.527 52.6725V-9.15527e-05H85.158V52.6725H138.527Z"
              fill="url(#paint0_radial_865_1333)" />
            <defs>
              <radialGradient id="paint0_radial_865_1333" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                gradientTransform="translate(74.0342 119.771) rotate(-90.7047) scale(199.241 111.876)">
                <stop stop-color="white" />
                <stop offset="0.554603" stop-color="#CACACA" />
                <stop offset="0.699897" stop-color="#E5E5E5" />
                <stop offset="1" stop-color="#32322F" />
              </radialGradient>
            </defs>
          </svg>

          <p class="dir-para dir-para-page">
            Everything has pros and cons, but the COVID-19 lockdown is the
            same. People were restricted to their houses because of the
            restrictions, but because of it, the world witnessed a boon in the
            rise of the internet and technology in the true sense. Saying that
            the world started operating online will not be wrong. However,
            there are certain events that, despite being online and provided
            in the best suitable way, lacked the fun and the zeal to do it.
            Sports are one of them.
          </p>

          <p class="dir-para dir-para-page">
            The significance of sports can, in no way, be overstated. Although
            advancements in technology and the rapid onset of automation have
            been a boon to the industry, these have come at the cost of losing
            out on essential habits such as maintaining a physically and
            mentally healthy routine. We must begin prioritizing our body and
            mind over technology, and sports is one of the most crucial
            factors driving this shift in thinking. With its benefits ranging
            from something as simple and inconsequential as the release of
            dopamine to something as crucial as building team spirit and
            maintaining a healthy lifestyle, sport is an irreplaceable aspect
            of any individual's life.
          </p>

          <p class="dir-para dir-para-page">
            BITS Pilani has always encouraged the holistic development of its
            students, with sports being given the importance it deserves.
            Hence, I am delighted to witness the return of BOSM, after a
            hiatus of three long years. Sports is an integral part of our
            life, which is why, at BITS Pilani, we envision BOSM as one of our
            grand events.
          </p>

          <p class="dir-para dir-para-page">
            After two long years, the Sports Council of BITS Pilani is
            organizing its 35th annual BOSM (BITS Open Sports Meet) from the
            14th to the 18th of October. A platform for the students to
            display their talent by competing against the best players across
            the country, I am sure the participants are ready to experience
            the event's thrill, excitement, and adrenaline rush. The event
            will be conducted after a gap of two years, and I do not doubt
            that this year's edition will be a rousing success, as students
            from all over the country will participate and compete in various
            events. With the theme for the 35th edition of this marquee event
            set to be "Rise to Glory," I am confident that there will be a lot
            of glory surrounding the meet, and the competitors will
            tremendously rise to the occasion.
          </p>

          <p class="dir-para dir-para-page">
            Don't forget what Virat Kohli said - On the field, aggression can
            sometimes be a positive emotion. It boosts performance and can
            lift your game. But over the years, I have learnt that restrained
            aggression is a better animal. That way, you will conserve your
            energy and won't spend yourself quickly.
          </p>

          <p class="dir-para dir-para-page" style="font-weight: 900">
            I extend my best wishes to the organizers and the participants for
            a great Meet.
          </p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>