<!DOCTYPE html>
<html lang="en">
 
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="../Assets/Logo.png" rel="shortcut icon" type="image/x-icon" />
  <script src="https://kit.fontawesome.com/5397743099.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com" rel="preconnect" />
  <link crossorigin href="https://fonts.gstatic.com" rel="preconnect" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap" rel="stylesheet" />
  <link href="../Styles/gallery.css" rel="stylesheet" />
  <link href="../Styles/loader.css" rel="stylesheet" />

  <script defer src="../Scripts/gallery.js"></script>
  <script defer src="../Scripts/hamburger.js"></script>
  <script defer src="../Scripts/index.js"></script>
  <script defer src="../Scripts/loader.js"></script>
  <title>Gallery</title>
</head>

<body>
  <div class="loader">
    <div class="video-wrapper">
      <video autoplay loop muted playsinline id="video" width="100%">
        <source src="../Assets/loader.mp4" type="video/mp4" />
      </video>
      <div class="shadow"></div>
    </div>

    <div class="hide">CLICK TO CONTINUE</div>
  </div>
  <!-- <div id="gal-close">
        <a href="../index.html"><img alt="" id="gal-close-img" src="../Assets/Back.svg" /></a>
      </div> -->

  <div class="ham-grid">
    <div class="ham-logo ham-hide"><img src="../Assets/ham-logo.png" /></div>
    <div class="ham-img ham-hide">
      <img src="../Assets/ham-img.png" /><span></span>
    </div>

    <div class="ham-links">
      <div>
        <a href="../index.html">HOME</a>
        <a href="./registration.html">REGISTRATION</a>
        <a href="./sponsors.html">SPONSORS</a>
        <a href="./ignition.html">IGNITION</a>
        <a href="https://dvm-bitspilani.github.io/bosm-2019-main/">ARCHIVES</a>
        <a style="display: none" href="#">LOGIN</a>
        <a href="./developers.html">DEVELOPERS</a>
      </div>
    </div>

    <div class="ham-text ham-hide">
      <img src="../Assets/ham-text.png" /><span></span>
    </div>
    <div class="ham-icons ham-hide">
      <a href="https://www.facebook.com/bosmbitspilani" target="_blank">
        <img aria-hidden="true" src="../Assets/Facebook.png" class="ham-icon" />
      </a>
      <a href="https://www.instagram.com/bitsbosm/" target="_blank">
        <img aria-hidden="true" src="../Assets/Instagram.png" class="ham-icon" />
      </a>
    </div>
  </div>

  <nav class="nav">
    <div class="right">
      <div class="ham-cont">
        <div class="hamburger">
          <span class="ham-1"></span>
          <span class="ham-2"></span>
          <span class="ham-3"></span>
        </div>
      </div>
    </div>
  </nav>

  <div class="heading">
    <h2 class="gal-head">GALLERY</h2>
  </div>

  <div class="gallery">
    <div class="galleryCont">
      <div class="opaque-divs">
        <div class="opaq-left"></div>
        <div class="opaq-right"></div>
      </div>

      <div class="gallery-grid">
        <div class="gallery-images" id="gallery-img-1">
          <img src="../Assets/gallery/1.jpg" alt="img" />
        </div>

        <div class="gallery-images" id="gallery-img-2">
          <img src="../Assets/gallery/2.jpg" alt="img" />
        </div>

        <div class="gallery-images" id="gallery-img-3">
          <img src="../Assets/gallery/3.jpg" alt="img" />
        </div>

        <div class="gallery-images" id="gallery-img-4">
          <img src="../Assets/gallery/4.jpg" alt="img" />
        </div>

        <div class="gallery-images" id="gallery-img-5">
          <img src="../Assets/gallery/5.jpg" alt="img" />
        </div>

        <div class="gallery-images" id="gallery-img-6">
          <img src="../Assets/gallery/6.jpg" alt="img" />
        </div>

        <div class="gallery-images" id="gallery-img-7">
          <img src="../Assets/gallery/7.jpg" alt="img" />
        </div>

        <div class="gallery-images" id="gallery-img-8">
          <img src="../Assets/gallery/8.jpg" alt="img" />
        </div>

        <div class="gallery-images" id="gallery-img-9">
          <img src="../Assets/gallery/9.jpg" alt="img" />
        </div>

        <div class="gallery-images" id="gallery-img-10">
          <img src="../Assets/gallery/10.jpg" alt="img" />
        </div>

        <div class="gallery-images" id="gallery-img-11">
          <img src="../Assets/gallery/11.jpg" alt="img" />
        </div>

        <div class="gallery-images" id="gallery-img-12">
          <img src="../Assets/gallery/12.jpg" alt="img" />
        </div>
      </div>
    </div>

    <div class="arr" id="left-arr">
      <svg width="30" height="30" viewBox="0 0 37 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_i_89_308)">
          <path
            d="M35.9344 27.3678C36.263 27.1415 36.5317 26.8387 36.7174 26.4855C36.903 26.1323 37 25.7393 37 25.3403C37 24.9413 36.903 24.5483 36.7174 24.1951C36.5317 23.8419 36.263 23.5391 35.9344 23.3128L3.86994 1.11436C3.5001 0.857417 3.06692 0.706737 2.61746 0.678696C2.168 0.650654 1.71945 0.746324 1.32055 0.955311C0.921643 1.1643 0.587639 1.47861 0.354826 1.86409C0.122013 2.24958 -0.000706267 2.69149 3.0576e-06 3.14183L3.0576e-06 47.5388C0.00185887 47.9881 0.126156 48.4283 0.359527 48.8123C0.592898 49.1962 0.926513 49.5093 1.32449 49.7178C1.72248 49.9263 2.16977 50.0223 2.61827 49.9956C3.06676 49.9689 3.4995 49.8205 3.86994 49.5662L35.9344 27.3678Z"
            fill="white" />
        </g>
        <defs>
          <filter id="filter0_i_89_308" x="0" y="-1.32608" width="39" height="51.3261" filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              result="hardAlpha" />
            <feOffset dx="3" dy="-2" />
            <feGaussianBlur stdDeviation="1" />
            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0" />
            <feBlend mode="normal" in2="shape" result="effect1_innerShadow_89_308" />
          </filter>
        </defs>
      </svg>
    </div>

    <div class="arr" id="right-arr">
      <svg width="30" height="30" viewBox="0 0 37 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_i_89_308)">
          <path
            d="M35.9344 27.3678C36.263 27.1415 36.5317 26.8387 36.7174 26.4855C36.903 26.1323 37 25.7393 37 25.3403C37 24.9413 36.903 24.5483 36.7174 24.1951C36.5317 23.8419 36.263 23.5391 35.9344 23.3128L3.86994 1.11436C3.5001 0.857417 3.06692 0.706737 2.61746 0.678696C2.168 0.650654 1.71945 0.746324 1.32055 0.955311C0.921643 1.1643 0.587639 1.47861 0.354826 1.86409C0.122013 2.24958 -0.000706267 2.69149 3.0576e-06 3.14183L3.0576e-06 47.5388C0.00185887 47.9881 0.126156 48.4283 0.359527 48.8123C0.592898 49.1962 0.926513 49.5093 1.32449 49.7178C1.72248 49.9263 2.16977 50.0223 2.61827 49.9956C3.06676 49.9689 3.4995 49.8205 3.86994 49.5662L35.9344 27.3678Z"
            fill="white" />
        </g>
        <defs>
          <filter id="filter0_i_89_308" x="0" y="-1.32608" width="39" height="51.3261" filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              result="hardAlpha" />
            <feOffset dx="3" dy="-2" />
            <feGaussianBlur stdDeviation="1" />
            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0" />
            <feBlend mode="normal" in2="shape" result="effect1_innerShadow_89_308" />
          </filter>
        </defs>
      </svg>
    </div>
  </div>

  <div class="indic">
    <div class="disc active-disc" id="disc-1"></div>
    <div class="disc" id="disc-2"></div>
  </div>
</body>

</html>