<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../Assets/Logo.png" rel="shortcut icon" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/5397743099.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap" rel="stylesheet" />
    <script defer src="../Scripts/gallery.js"></script>
    <link href="../CSS/gallery.css" rel="stylesheet" />
    <title>Gallery</title>
</head>

<body>
    <div class="heading">
        <h2>GALLERY</h2>
    </div>
    <div class="galleryCont">
        
    </div>
</body>

</html>