<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../Assets/Logo.png" rel="shortcut icon" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/5397743099.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap" rel="stylesheet" />
    <link href="../Styles/ignition.css" rel="stylesheet" />
    <link href="../Styles/loader.css" rel="stylesheet" />

    <script defer src="../Scripts/hamburger.js"></script>
    <script defer src="../Scripts/index.js"></script>
    <script defer src="../Scripts/loader.js"></script>
    <title>IGNITION</title>
</head>
<body>
    <div class="loader">
        <div class="video-wrapper">
          <video autoplay loop muted playsinline id="video" width="100%">
            <source src="../Assets/loader.mp4" type="video/mp4" />
          </video>
          <div class="shadow"></div>
        </div>
    
        <div class="hide">CLICK TO CONTINUE</div>
      </div>

    <div class="ham-grid">
        <div class="ham-logo ham-hide"><img src="../Assets/ham-logo.png" /></div>
        <div class="ham-img ham-hide">
          <img src="../Assets/ham-img.png" /><span></span>
        </div>
    
        <div class="ham-links">
          <div>
            <a href="../index.html">HOME</a>
            <a href="./registration.html">REGISTRATION</a>
            <a href="./gallery.html">GALLERY</a>
            <a href="./sponsors.html">SPONSORS</a>
            <a href="https://dvm-bitspilani.github.io/bosm-2019-main/">ARCHIVES</a>
            <a style="display: none" href="#">LOGIN</a>
            <a href="./developers.html">DEVELOPERS</a>
          </div>
        </div>
    
        <div class="ham-text ham-hide">
          <img src="../Assets/ham-text.png" /><span></span>
        </div>
        <div class="ham-icons ham-hide">
          <a href="https://www.facebook.com/bosmbitspilani" target="_blank">
            <img aria-hidden="true" src="../Assets/Facebook.png" class="ham-icon" />
          </a>
          <a href="https://www.instagram.com/bitsbosm/" target="_blank">
            <img aria-hidden="true" src="../Assets/Instagram.png" class="ham-icon" />
          </a>
        </div>
      </div>
    
      <nav class="nav">
        <div class="right">
          <div class="ham-cont">
            <div class="hamburger">
              <span class="ham-1"></span>
              <span class="ham-2"></span>
              <span class="ham-3"></span>
            </div>
          </div>
        </div>
      </nav>

    <div class="heading">
        <h2 class="ign-head">IGNITION 2022</h2>
    </div>

    <div class="ignition">
        <div class="ignition-cont">
            <div class="ignition-game">
                <h3 class="game-head">COD Mobile</h3>
                <img class="game-img" src="../Assets/ignition/cod.png" alt="COD MOBILE">
                <div class="game-reg">
                    <a href="https://unstop.com/p/bosm-ignition-call-of-duty-mobile-birla-institute-of-technology-science-bits-pilani-451945" class="game-reg-btn" target="_blank">REGISTER</a>
                </div>
            </div>

            <div class="ignition-game">
                <h3 class="game-head">Valorant</h3>
                <img class="game-img" src="../Assets/ignition/valorant.png" alt="Valorant">
                <div class="game-reg">
                    <a href="https://unstop.com/creative-cultural-event/bosm-ignition-valorant-birla-institute-of-technology-science-bits-pilani-449076" class="game-reg-btn" target="_blank">REGISTER</a>
                </div>
            </div>

            <div class="ignition-game">
                <h3 class="game-head">Clash Royale</h3>
                <img class="game-img" src="../Assets/ignition/clash-royale.png" alt="Clash Royale">
                <div class="game-reg">
                    <a href="https://unstop.com/creative-cultural-event/bosm-ignition-clash-royale-birla-institute-of-technology-science-bits-pilani-449800" class="game-reg-btn" target="_blank">REGISTER</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>