<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="../Assets/Logo.png" rel="shortcut icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <title>Registration</title>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script defer src="../Scripts/registration.js"></script>
    <link href="../CSS/registration.css" rel="stylesheet" />
    <link href="../Assets/Logo.png" rel="shortcut icon" type="image/x-icon" />
  </head>

  <body>
    <img alt="" class="bgImage" src="../Assets/RegisterBG.png" />
    <div id="reg-cont">
      <form id="reg-form" method="post" name="reg-form">
        <div class="form-header">
          <div id="form_close">
            <a href="../index.html"
              ><img alt="" id="form_close_img" src="../Assets/Back.svg"
            /></a>
          </div>
          <h2>REGISTRATION</h2>
        </div>
        <div class="col">
          <div class="form-input-cont">
            <input
              class="form-input"
              id="name"
              name="name"
              placeholder=" "
              required
              type="text"
            />
            <label class="form-lbl" for="name">NAME</label>
          </div>
          <div class="form-input-cont">
            <input
              class="form-input"
              id="email"
              name="email"
              placeholder=" "
              required
              type="email"
            />
            <label class="form-lbl" for="email">EMAIL</label>
          </div>
          <div class="form-input-cont">
            <input
              class="form-input"
              id="phone"
              name="phone"
              placeholder=" "
              required
              type="number"
            />
            <label class="form-lbl" for="phone">PHONE</label>
          </div>
          <div class="form-input-cont" id="gender-cont">
            <label id="gender-lbl">GENDER</label>
            <div class="flex-cont" id="gender-input-cont">
              <input
                class="form-input"
                id="male"
                name="gender"
                placeholder=" "
                required
                type="radio"
                value="M"
              />
              <label class="lbl-small" for="male">MALE</label>
              <input
                class="form-input"
                id="female"
                name="gender"
                placeholder=" "
                required
                type="radio"
                value="F"
              />
              <label class="lbl-small" for="female">FEMALE</label>
              <input
                class="form-input"
                id="other"
                name="gender"
                placeholder=" "
                required
                type="radio"
                value="O"
              />
              <label class="lbl-small" for="other">OTHER</label>
            </div>
          </div>
          <div class="form-input-cont">
            <select class="form-input" id="yos" required>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <label class="form-lbl" for="yos">YEAR OF STUDY</label>
            <!-- <i class="fa fa-caret-down dropdown" aria-hidden="true"></i>                     -->
          </div>
        </div>
        <div class="col">
          <div class="form-input-cont">
            <input
              class="form-input"
              id="sports"
              list="sport-list"
              name="sports"
              placeholder=" "
            />
            <label class="form-lbl" for="sports">SPORTS</label>
            <datalist id="sport-list"></datalist>
            <ul id="sport-sel-list"></ul>
          </div>
          <div class="form-input-cont">
            <input
              class="form-input"
              id="college"
              list="college-list"
              name="college"
              placeholder=" "
              required
            />
            <label class="form-lbl" for="college">COLLEGE</label>
            <datalist id="college-list"></datalist>
          </div>
          <div class="form-input-cont">
            <input
              class="form-input"
              id="city"
              name="city"
              placeholder=" "
              required
              type="text"
            />
            <label class="form-lbl" for="city">CITY</label>
          </div>

          <div class="form-input-cont">
            <input
              class="form-input"
              id="state"
              name="state"
              placeholder=" "
              required
            />
            <label class="form-lbl" for="state">STATE</label>
          </div>
          <div class="form-input-cont flex-cont">
            <input id="coach" name="coach" placeholder=" " type="checkbox" />
            <label class="lbl-small" for="coach">Are you a coach? </label>
          </div>
        </div>
        <div id="form-submit-cont">
          <div
            class="g-recaptcha"
            data-sitekey="6LdSBPYgAAAAAFSZA0FHo_TK-jDXqyYDI-nL-4W_"
            data-callback="submit_form"
            data-size="invisible"
          ></div>

          <button id="form-submit" type="submit">REGISTER</button>
        </div>
      </form>
    </div>
  </body>
</html>
