<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <title>Sponsors</title>
    <link href="../Assets/Logo.png" rel="shortcut icon" type="image/x-icon" />
    <link href="../Styles/sponsors.css" rel="stylesheet" />
    <!-- <script defer src="../Scripts/hamburger.js"></script> -->
    <!-- <script defer src="../Scripts/index.js"></script> -->
  </head>
  <body>
    <div>
      <!-- <div class="ham-grid">
        <div class="ham-logo ham-hide">
          <img src="../Assets/ham-logo.png" />
        </div>
        <div class="ham-img ham-hide">
          <img src="../Assets/ham-img.png" /><span></span>
        </div>

        <div class="ham-links">
          <div>
            <a href="../index.html">HOME</a>
            <a href="./registration.html">REGISTRATION</a>
            <a href="./ignition.html">IGNITION</a>
            <a href="./gallery.html">GALLERY</a>
            <a href="https://dvm-bitspilani.github.io/bosm-2019-main/"
              >ARCHIVES</a
            >
            <a style="display: none" href="#">LOGIN</a>
          </div>
        </div>

        <div class="ham-text ham-hide">
          <img src="../Assets/ham-text.png" /><span></span>
        </div>
        <div class="ham-icons ham-hide">
          <a href="https://www.facebook.com/bosmbitspilani" target="_blank">
            <img
              aria-hidden="true"
              src="../Assets/Facebook.png"
              class="ham-icon"
            />
          </a>
          <a href="https://www.instagram.com/bitsbosm/" target="_blank">
            <img
              aria-hidden="true"
              src="../Assets/Instagram.png"
              class="ham-icon"
            />
          </a>
        </div>
      </div>

      <nav class="nav">
        <div class="right">
          <div class="ham-cont">
            <div class="hamburger">
              <span class="ham-1"></span>
              <span class="ham-2"></span>
              <span class="ham-3"></span>
            </div>
          </div>
        </div>
      </nav> -->

      <h2 class="spon-head">SPONSORS</h2>
      <div class="spon-title">Title Sponsor</div>
      <div class="spon">
        <div class="image"><img src="../Assets/Coke.jpeg" /></div>
        <div class="name">Coca Cola</div>
      </div>
      <div class="spon-title">Banking Partner</div>
      <div class="spon">
        <div class="image"><img src="../Assets/union.png" /></div>
        <div class="name">Union Bank of India</div>
      </div>
      <div class="spon-title">Energy Partner</div>
      <div class="spon">
        <div class="image"><img src="../Assets/monster.png" /></div>
        <div class="name">Monster Energy</div>
      </div>
      <div class="spon-title">Fitness and Nutrition Partner</div>
      <div class="spon">
        <div class="image"><img src="../Assets/nutrition.jpeg" /></div>
        <div class="name">AL Nutrition</div>
      </div>
      <div class="spon-title">Cycling Partner</div>
      <div class="spon">
        <div class="image"><img src="../Assets/ninety.jpg" /></div>
        <div class="name">Ninety One</div>
      </div>
      <div class="spon-title">Beverage Partner</div>
      <div class="spon">
        <div class="image"><img src="../Assets/epigamia.png" /></div>
        <div class="name">Epigamia</div>
      </div>
      <div class="spon-title">Skincare Partner</div>
      <div class="spon">
        <div class="image"><img src="../Assets/beardo.jpg" /></div>
        <div class="name">Beardo</div>
      </div>
      <div class="spon-title">Food Partner</div>
      <div class="spon">
        <div class="image"><img src="../Assets/koc.jpeg" /></div>
        <div class="name">Kingdom Of Cuisines</div>
      </div>
      <div class="spon-title">Ignition Powered By</div>
      <div class="spon">
        <div class="image"><img src="../Assets/unstop.png" /></div>
        <div class="name">Unstop</div>
      </div>
      <div class="spon-title">Travel Partner</div>
      <div class="spon">
        <div class="image"><img src="../Assets/goStops.jpeg" /></div>
        <div class="name">GoStops</div>
      </div>
      <div class="spon-title">Chess Partner</div>
      <div class="spon">
        <div class="image"><img src="../Assets/paramount.jpeg" /></div>
        <div class="name">Paramount Dealz</div>
      </div>
      <div class="spon-title">Education Partner</div>
      <div class="spon">
        <div class="image"><img src="../Assets/lang.jpeg" /></div>
        <div class="name">Languify</div>
      </div>
      <div class="spon-title">Metaverse Partner</div>
      <div id="last" class="spon">
        <div class="image"><img src="../Assets/flam.jpeg" /></div>
        <div class="name">Flam</div>
      </div>
    </div>
  </body>
  <script>
    const body = document.querySelector("body");
  </script>
</html>
