<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../Assets/Logo.png" rel="shortcut icon" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/5397743099.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap" rel="stylesheet" />
    <link href="../Styles/sponsors.css" rel="stylesheet" />
    <title>Sponsors</title>
</head>
<body>
    <div class="heading">
        <h2 class="sponz-head">SPONSORS</h2>
    </div>

    <div class="sponz">
        <div class="sponz-cont"></div>
    </div>

    <ul>
        <li>
            <img src="../Assets/Sponsors/coca-cola.png" alt="">
            <h3>Coca-Cola</h3>
        </li>
        <li>
            <img src="../Assets/Sponsors/unacademy.jpg" alt="">
            <h3>Unacademy</h3>
        </li>
        <li>
            <img src="../Assets/Sponsors/dominos.png" alt="">
            <h3>Dominos</h3>
        </li>
        <li>
            <img src="../Assets/Sponsors/spotify.png" alt="">
            <h3>Spotify</h3>
        </li>
        <li>
            <img src="../Assets/Sponsors/mrf.png" alt="">
            <h3>MRF</h3>
        </li>
    </ul>
</body>
</html>