.contact {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 27;
  position: relative;
}

#contactUs {
  background: url(../Assets/bgContact.png) center center no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

.contact > img {
  position: absolute;
  top: -3rem;
  max-width: 100%;
  z-index: 1;
}

.contactBg {
  top: -16rem !important;
}

.contactBgPhone {
  display: none;
}

.sec-header {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.contactCont {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  justify-content: center;
}

.donut2 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.donut1 {
  position: absolute;
  left: 0;
  top: -20rem;
  z-index: 20;
}

#copied {
  background-color: rgba(255, 255, 255, 0.452);
  color: black;
  padding: 0.4rem 0.8rem;
  border-radius: 15px;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  transition: all 0.4s;
}

.contDiv {
  margin-top: 2rem;
  z-index: 2;
  border-radius: 40px;
  padding: 0.4rem;
  width: 13%;
  margin-inline: 1.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.name {
  margin-top: 0.8rem;
  font-size: 1.1rem;
  line-height: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.dept {
  opacity: 0.8;
  margin-top: 0.3rem;
  font-size: 0.8rem;
}

.number {
  opacity: 0.5;
  margin-top: 0.4rem;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 400;
}

.mail {
  opacity: 0.5;
  margin-top: 0.4rem;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 400;
}

.contactImg {
  mix-blend-mode: overlay;
  width: 100%;
  border-radius: 34px;
}

.contactImgCont {
  mix-blend-mode: overlay;
  background: transparent;
  opacity: 0.9;
  border-radius: 34px;
  width: 78%;
}

.contact-details {
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  .sec-header {
    font-size: 2rem;
  }

  #contactUs {
    background: url(../Assets/phoneContactBg.png) center center no-repeat;
    background-size: cover;
  }

  .contactImgCont {
    width: 80%;
  }

  .donut1 {
    display: none;
  }

  .donut2 {
    display: none;
  }

  .contactBgPhone {
    display: block;
    top: 0rem !important;
  }

  .contactBg {
    display: none;
  }

  .name {
    font-size: 1.1rem;
  }

  .contDiv {
    width: 45%;
    margin-inline: 1rem;
  }

  .contactCont {
    width: 100%;
    margin-bottom: 3rem;
    column-gap: 10px;
  }
}

@media (max-width: 800px) and (min-width: 400px) {
  .contactImgCont {
    width: 56% !important;
  }

  .contDiv {
    width: 40%;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  .contact > img {
    transform: translateY(13rem);
  }

  .contDiv {
    margin-inline: 1rem;
    width: 16%;
  }

  .contactImgCont {
    width: 80%;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .contDiv {
    width: 16%;
    margin-inline: 1rem;
  }
}

.transition {
  z-index: 26;
  width: 100vw;
  height: 15rem;
  position: relative;
  margin: -10rem 0 -2rem 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    #000000 50.07%,
    #000000 100%
  );
}

@media (min-width: 1700px) {
  .contDiv {
    margin-inline: 3rem;
    width: 13%;
  }
}

@media (max-width: 400px) {
  .contDiv {
    margin-inline: 0.4rem !important;
    width: 40% !important;
  }

  .name {
    font-size: 1rem !important;
    line-height: 1.4rem;
  }

  .contDiv {
    margin-top: 1.5rem;
  }

  .dept {
    font-size: 0.9rem !important;
  }

  .mail {
    font-size: 0.8rem !important;
  }

  .number {
    font-size: 0.9rem !important;
  }

  .contactImgCont {
    width: 85% !important;
  }

  .sec-header {
    font-size: 1.6rem;
  }
}

@media (max-width: 1201px) {
  .contact-details {
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    margin-top: 0.5rem;
  }
}

/*# sourceMappingURL=contact.css.map */
