* {
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 500;
  box-sizing: border-box;
  scrollbar-color: #eeecec transparent;
}

*::-webkit-scrollbar-thumb {
  background: #eeecec;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: black;
  background-image: url(../Assets/devpage-bg.jpg);
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  font-family: "Montserrat";
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  pointer-events: none;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

/* Back Button */
.close {
  cursor: pointer;
  position: absolute;
  left: 5rem;
  z-index: 100;
}

.close-img {
  width: 30px;
  height: 30px;
}

/* Title */
.dev-head {
  font-size: 2.8rem;
  margin-top: 2rem;
  font-weight: 600;
}

/* Grids */
.dev-body {
  width: 98vw;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.six,
.five {
  gap: 1rem;
  display: grid;
}

.six {
  max-width: 80vw;
}

.five {
  margin: 2rem 0;
  max-width: 80vw;
}

/* Profile Boxes */
.dev-profile {
  z-index: 2;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.dev-name {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.dev-dept {
  opacity: 0.6;
  margin: 0.5rem 0;
  font-size: 0.8rem;
}

.dev-img {
  width: 100%;
  border-radius: 2rem;
  mix-blend-mode: overlay;
  aspect-ratio: 1;
  object-fit: cover;
}

.img-wrapper {
  width: 70%;
  opacity: 0.9;
  border-radius: 2rem;
  mix-blend-mode: overlay;
  background: transparent;
  box-shadow: inset -10px 10px 10px rgba(255, 252, 252, 0.25),
    inset 10px -10px 10px rgba(0, 0, 0, 0.25);
}

.dev-links {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dev-link {
  display: flex;
  justify-content: center;
}

.dev-link img {
  opacity: 0.6;
  width: 110%;
}

.three {
  display: grid;
}
.dev-profile {
  margin: 0 auto;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .dev-name {
    font-size: 1.2rem;
  }

  .dev-dept {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 0px) {
  .ham-hide {
    display: none !important;
  }

  .ham-links {
    grid-row: 1 !important;
    grid-column: 1 !important;
    width: 100vw;
    height: 100vh;
    gap: 3rem;
  }

  .ham-links a {
    font-size: 2.2rem;
  }

  .dev-head {
    font-size: 1.6rem;
    margin: 2.5rem 0 0 0;
  }

  .dev-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
    /* row-gap: rem; */
  }

  .centre {
    /* transform: translateX(calc(17vw + 2rem)); */
    margin: 0 auto;
    grid-column: 1/-1;
  }

  .close {
    top: calc(4.1rem - 10px);
  }

  .six,
  .five {
    gap: 3rem 6rem;
    grid-template-columns: 1fr 1fr;
  }
  .three {
    grid-template-columns: 1fr 1fr;
    gap: 3rem 6rem;
  }

  .dev-name {
    font-size: 1rem;
  }

  .dev-links {
    gap: 0rem;
  }

  .dev-link {
    width: 50px;
  }

  .dev-dept {
    font-size: 0.95rem;
  }

  .dev-profile {
    max-width: 45vw;
    /* width: 50%; */
  }
  .dev-body {
    max-width: 95%;
    row-gap: 4rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
    padding-bottom: 2rem;
  }

  body {
    background-image: url(../Assets/dev-mobile.jpg);
  }
}

@media screen and (min-width: 999px) {
  .ham-hide {
    display: flex !important;
  }

  .ham-cont {
    transform: scale(0.8) !important;
  }

  .ham-links {
    grid-column: 3 !important;
    grid-row: 1 / a 2 !important;
    width: auto;
    height: auto;
    /* gap: 3rem; */
  }

  .ham-links a {
    font-size: 2rem;
  }

  .dev-head {
    font-size: 2.8rem;
    margin: 3rem 0 0 0;
  }

  .right {
    margin-top: 3rem !important;
  }

  .close {
    top: calc(3.4rem - 10px);
  }

  .centre {
    transform: none;
    grid-column: 3;
  }

  body {
    background-image: url(../Assets/devpage-bg.jpg);
  }

  .dev-links {
    gap: 0.2rem;
  }

  /* .six,
  .five {
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  } */

  .dev-body {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* gap:2rem; */
    row-gap: 6rem;
    width: 75%;
  }
  .back-1 {
    grid-column: 2 / span 1;
    /* margin-right: 1rem; */
  }
  .back-2 {
    grid-column: 3 / span 1;
  }
  .back-3 {
    grid-column: 4 / span 1;
  }

  .five,
  .six {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }
  .three {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
  }

  .dev-name {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
  }

  .dev-link img {
    width: 110%;
  }

  .dev-link {
    width: 40px;
  }

  .dev-dept {
    font-size: 0.8rem;
  }

  .dev-profile {
    max-width: calc((85vw - 10rem) / 6);
  }
}

@media screen and (min-width: 1599px) {
  .dev-head {
    font-size: 3.4rem;
    margin: 2.4rem 0 1.4rem 0;
  }

  .right {
    margin-top: 2.4rem;
  }

  .dev-name {
    font-size: 1.4rem;
  }

  .dev-dept {
    font-size: 1rem;
  }
}

@media screen and (min-height: 1000px) {
  body,
  .dev-body {
    row-gap: 3rem;
  }
}
/*# sourceMappingURL=developers.css.map */

/* Hamburger */
.ham-cont {
  display: flex;
  transform: scale(0.6);
  justify-content: center;
  align-items: center;
  position: relative;
}

.hamburger {
  height: 30px;
  width: 35px;
  position: relative;
  cursor: pointer;
}

.hamburger span {
  right: 0;
  height: 3.6px;
  border-radius: 1.5px;
  background: white;
  position: absolute;
}

.ham-1 {
  width: 35px;
  top: 1px;
  -webkit-animation: ham-up 0.4s linear;
  animation: ham-up 0.4s linear;
}

.ham-2 {
  width: 23px;
  top: 13.2px;
}

.ham-3 {
  width: 13px;
  top: 25.4px;
  height: 3.4px !important;
  -webkit-animation: ham-down 0.4s linear;
  animation: ham-down 0.4s linear;
}

/* HAMGURGER MENU */
.ham-grid {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100001;
  display: none;
  position: fixed;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  grid-template-columns: 32vw 30vw auto;
  grid-template-rows: 66vh 34vh;
}

.ham-grid div {
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}

.ham-grid img {
  max-height: 100%;
  z-index: 1;
}

.ham-text img,
.ham-img img {
  height: 100%;
  width: 100%;
}

.ham-img,
.ham-text {
  position: relative;
}

.ham-img span,
.ham-text span {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(45px);
  backdrop-filter: blur(45px);
  transform: translateX(100%);
}

.ham-logo img {
  height: 23vh;
  opacity: 0;
}

.ham-icons,
.ham-logo {
  background: rgba(43, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(45px);
  backdrop-filter: blur(45px);
}

.ham-icons {
  gap: 2rem;
}

.ham-icon {
  height: 5vh;
  width: 5vh;
  opacity: 0;
}

.ham-links {
  grid-column: 3;
  grid-row: 1 / a 2;
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(45px);
  backdrop-filter: blur(45px);
}

.ham-links > div {
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}

.ham-links a {
  font-family: "Montserrat";
  font-style: normal;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 2rem;
  opacity: 0;
}

.right {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  gap: 1rem;
  justify-content: space-around;
  position: relative;
  z-index: 100001;
  margin-top: 2.5rem;
  margin-inline: 2rem;
}

.nav {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  right: 0;
  top: 0;
}

@-webkit-keyframes ham-up-1 {
  from {
    transform: none;
    width: 35px;
    top: 1px;
  }

  to {
    transform: rotate(405deg);
    width: 25px;
    top: 13.2px;
  }
}

@keyframes ham-up-1 {
  from {
    transform: none;
    width: 35px;
    top: 1px;
  }

  to {
    transform: rotate(405deg);
    width: 25px;
    top: 13.2px;
  }
}

@-webkit-keyframes ham-down-1 {
  from {
    transform: none;
    width: 13px;
    top: 25.4px;
  }

  to {
    transform: rotate(-405deg);
    width: 25px;
    top: 13.2px;
  }
}

@keyframes ham-down-1 {
  from {
    transform: none;
    width: 13px;
    top: 25.4px;
  }

  to {
    transform: rotate(-405deg);
    width: 25px;
    top: 13.2px;
  }
}

@-webkit-keyframes ham-up-2 {
  from {
    transform: rotate(405deg);
    width: 25px;
    top: 13.2px;
  }

  to {
    transform: none;
    width: 35px;
    top: 1px;
  }
}

@keyframes ham-up-2 {
  from {
    transform: rotate(405deg);
    width: 25px;
    top: 13.2px;
  }

  to {
    transform: none;
    width: 35px;
    top: 1px;
  }
}

@-webkit-keyframes ham-down-2 {
  from {
    transform: rotate(-405deg);
    width: 25px;
    top: 13.2px;
  }

  to {
    transform: none;
    width: 13px;
    top: 25.4px;
  }
}

@keyframes ham-down-2 {
  from {
    transform: rotate(-405deg);
    width: 25px;
    top: 13.2px;
  }

  to {
    transform: none;
    width: 13px;
    top: 25.4px;
  }
}

@-webkit-keyframes link-up {
  from {
    transform: translateY(200%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes link-up {
  from {
    transform: translateY(200%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes span-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes span-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

@-webkit-keyframes span-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes span-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes span-go-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes span-go-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes span-go-left {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes span-go-left {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes go-up {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes go-up {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@-webkit-keyframes go-down {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes go-down {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@-webkit-keyframes come-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes come-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes come-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes come-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
