body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    position: relative;
    width: 100vw;
    overflow-y: scroll;
}

.director {
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 27;
    position: relative;
    background: url(../Assets/bgContact.png) repeat-y;
    background-size: cover;
    padding-bottom: 100px;
}

.director-page {
    padding-top: 3rem;
}

.dir-cont {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.dir-cont-page {
    flex-direction: column;
    align-items: center;
}

.sec-header {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.dir-profile{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.dir-profile-page {
    width: 100%;
}

.dir-img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 100%;
}

.dir-msg-cont {
    width: 35%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.dir-msg-cont-page {
    width: 65%;
    margin-top: 5rem;
}

.dir-msg {
    width: 100%;
    position: relative;
}

.dir-leaves{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 55%;
    z-index: -1;
}

.dir-leaf{
    width: 40%;
}

.dir-img {
    width: 55%;
    border-radius: 24px;
}

.dir-para {
    font-size: 1rem;
    line-height: 1.2;
    margin: 14px 0;
    letter-spacing: 0.5px;
    font-weight: 400;
    text-align: center;
}

.dir-para-page {
    font-size: 2rem;
    line-height: 1.3;
    margin: 30px 0;
}

.dir-name {
    margin-top: 85px;
    margin-bottom: 0;
    font-weight: 900;
}

.dir-quotes {
    width: 15%;
    position: absolute;
}

.dir-quotes-page {
    width: 10%;
}

#dir-quote-start {
    top: -40px;
    left: calc(-15% - 30px);
}

#dir-quote-start-page {
    top: -40px;
    left: calc(-15% - 10px);
}

#dir-quote-end {
    transform: rotate(180deg);
    bottom: -40px;
    right: calc(-10% - 30px);
}

#dir-quote-end-page {
    transform: rotate(180deg);
    bottom: -40px;
    right: calc(-10% - 10px);
}

.dir-more {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 1rem 1.8rem;
    border: 1px solid white;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(0.8);
    background-color: black;
    text-decoration: none;
    margin-top: 2rem;
}

.dir-more:hover {
    background-color: white;
    color: #000;
    transition: 0.3s;
  }