.loader {
  background-color: #010001;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 10000001;
}

.hide {
  margin-top: 0rem;
  padding: 0.8rem 1.2rem;
  font-size: 0.65rem;
  letter-spacing: 1px;
  word-spacing: 3px;
  font-family: "zona-pro-thin", sans-serif;
  position: relative;
  color: white;
  overflow: hidden;
  transition: 0.2s;
  opacity: 0;
}

.video-wrapper {
  position: relative;
  width: 20vw;
  height: 20vw;
}

#video {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .video-wrapper {
    width: 45vw;
    height: 45vw;
  }
}

@-webkit-keyframes appear {
  0% {
    transform: translateY(-8px) scale(0.9);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 0.7;
  }
}

@keyframes appear {
  0% {
    transform: translateY(-8px) scale(0.9);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
