@media screen and (max-width: 900px) {
  .video-wrapper {
    width: 45vw;
    height: 45vw;
  }

  .ham-hide {
    display: none !important;
  }

  .ham-links {
    grid-row: 1;
    grid-column: 1;
    width: 100vw;
    height: 100vh;
    gap: 3rem;
  }

  .ham-links a {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 800px) {
  .text h2 {
    font-size: 11rem;
    margin-bottom: 1rem;
  }

  footer {
    transform: translateY(3rem);
  }

  .text h3 {
    font-size: 2rem;
  }

  .line {
    top: 0 !important;
    left: 0 !important;
  }

  .time {
    margin: 0;
  }

  .labels {
    transform: translateX(-1rem);
    margin-top: 0.4rem;
    margin-left: 2.6rem;
    padding: 0;
    justify-content: center;
  }

  .socials {
    margin-right: 0.6rem;
  }

  .numbers div {
    margin-inline: 0.5rem;
    font-size: 0.8rem;
  }

  main {
    margin-top: 5rem;
  }

  .labels div {
    font-size: 0.55rem;
    transform: none;
    margin-inline: 0.4rem;
  }

  footer .fa {
    font-size: 1.25rem;
  }

  .right {
    transform: translateY(1rem);
  }

  footer {
    padding: 0 1rem;
  }

  nav * {
    margin-inline: 0.5rem !important;
    margin-block: 0.2rem !important;
  }

  .left img {
    width: 60px;
    transform: translate(0.8rem, 0.8rem);
  }

  .light,
  .bg-red,
  .bg-yellow,
  .bg-blue {
    top: -8vh !important;
    height: 80vh !important;
    width: 40vw !important;
  }

  .bg-red,
  .bg-yellow {
    height: 74vh !important;
  }

  .bg-blue {
    height: 69vh !important;
  }

  #lightRed,
  .bg-red {
    transform: translateX(-2.4rem) rotate(1.29deg);
    left: 11%;
  }

  #lightBlue,
  .bg-blue {
    transform: translateX(-1.4rem);
  }

  #lightYellow,
  .bg-yellow {
    transform: translateX(0.2rem) rotate(-1.29deg);
    left: 56%;
  }

  .bp {
    transform: scale(1.3) translateY(0rem);
    -webkit-animation: MoveUpDown1 2s linear infinite;
    animation: MoveUpDown1 2s linear infinite;
  }

  .rp {
    transform: scale(1.1) translateY(-3rem) translateX(-2rem);
    -webkit-animation: MoveUpDown2 2s linear infinite;
    animation: MoveUpDown2 2s linear infinite;
  }

  .yp {
    transform: scale(1.1) translateY(-3rem) translateX(2rem);
    -webkit-animation: MoveUpDown3 2s linear infinite;
    animation: MoveUpDown3 2s linear infinite;
  }

  @-webkit-keyframes MoveUpDown1 {
    0%,
    100% {
      transform: scale(1.3) translateY(0rem);
    }

    50% {
      transform: scale(1.3) translateY(4px);
    }
  }

  @keyframes MoveUpDown1 {
    0%,
    100% {
      transform: scale(1.3) translateY(0rem);
    }

    50% {
      transform: scale(1.3) translateY(4px);
    }
  }

  @-webkit-keyframes MoveUpDown2 {
    0%,
    100% {
      transform: scale(1.1) translateY(-3rem) translateX(-2rem);
    }

    50% {
      transform: scale(1.1) translateY(-2.75rem) translateX(-2rem);
    }
  }

  @keyframes MoveUpDown2 {
    0%,
    100% {
      transform: scale(1.1) translateY(-3rem) translateX(-2rem);
    }

    50% {
      transform: scale(1.1) translateY(-2.75rem) translateX(-2rem);
    }
  }

  @-webkit-keyframes MoveUpDown3 {
    0%,
    100% {
      transform: scale(1.1) translateY(-3rem) translateX(2rem);
    }

    50% {
      transform: scale(1.1) translateY(-2.75rem) translateX(2rem);
    }
  }

  @keyframes MoveUpDown3 {
    0%,
    100% {
      transform: scale(1.1) translateY(-3rem) translateX(2rem);
    }

    50% {
      transform: scale(1.1) translateY(-2.75rem) translateX(2rem);
    }
  }

  .text * {
    transform: translateY(-2rem);
  }

  #phoneRegist {
    transform: translateY(-3rem);
  }

  .text h2 {
    letter-spacing: -0.25rem;
  }

  #l1 {
    top: 47vh !important;
    left: 81vw !important;
  }

  #l2 {
    top: 5vh !important;
    z-index: 21;
    left: 74vw !important;
  }

  #l3 {
    top: 2vh !important;
    left: 38vw !important;
  }

  #l4 {
    top: 56vh !important;
    left: 29vw !important;
  }

  #l5 {
    top: 58vh !important;
    left: 50vw !important;
  }

  #l6 {
    top: 26vh !important;
    left: 62vw !important;
    z-index: 21;
  }

  #l7 {
    top: 11vh !important;
    left: 12vw !important;
  }

  #l9 {
    left: 19rem !important;
    top: 11rem !important;
  }

  #l8 {
    left: 23rem !important;
    top: 8rem !important;
  }

  #l10 {
    left: 7rem !important;
    top: 7rem !important;
  }

  #l11 {
    top: 4rem !important;
    left: 14rem !important;
  }

  .fall-red,
  .fall-yellow,
  .fall-blue {
    height: 20vh !important;
  }

  .fall-red {
    -webkit-animation: fall-red-2 51s linear infinite;
    animation: fall-red-2 51s linear infinite;
  }

  .fall-blue {
    -webkit-animation: fall-blue-2 51s linear infinite;
    animation: fall-blue-2 51s linear infinite;
  }

  .fall-yellow {
    -webkit-animation: fall-yellow-2 51s linear infinite;
    animation: fall-yellow-2 51s linear infinite;
  }
}

@media screen and (max-width: 650px) {
  .text h2 {
    font-size: 8rem;
  }

  .text h3 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 500px) {
  section {
    margin: 150px 0;
  }

  footer {
    margin-top: -3rem;
  }

  .line {
    transform: scale(0.6) translateY(-35px);
    z-index: 0 !important;
    display: none;
  }

  .phoneBgMain {
    display: block;
    width: 100%;
    position: absolute;
    top: 0rem;
    left: -1rem;
  }

  .bgMain {
    display: none;
  }

  .fall-yellow {
    left: 40%;
  }

  .fall-red {
    left: -3%;
  }

  #l1,
  #l4,
  #l5 {
    transform: scale(0.7) translateY(-40px);
  }

  .left img {
    width: 50px;
  }

  .text {
    margin-top: -15rem;
  }

  #l9 {
    left: 20rem !important;
    top: 7rem !important;
  }

  #l8 {
    left: 16rem !important;
    top: 13rem !important;
  }

  #l10 {
    left: 7rem !important;
    top: 7rem !important;
  }

  #l11 {
    top: 4rem !important;
    left: 14rem !important;
  }

  .text h2 {
    font-size: 6rem;
  }

  #l4 {
    left: 18vw !important;
  }

  .text h3 {
    margin-top: -1rem;
    font-size: 1.2rem;
  }

  .ham-cont {
    transform: scale(0.58);
  }

  .ham-links div {
    transform: translateY(-5rem);
  }

  #phoneRegist {
    display: block;
    z-index: 30;
    font-family: "Montserrat", sans-serif;
    margin-top: 3.4rem;
    margin-inline: auto;
  }

  #desktopRegist {
    display: none;
  }

  .right {
    transform: translate(0.6rem, 0.8rem);
  }

  .light,
  .bg-blue,
  .bg-red,
  .bg-yellow {
    top: -8vh !important;
    height: 80vh !important;
    width: 40vw !important;
  }

  .bg-red,
  .bg-yellow {
    height: 74vh !important;
  }

  .bg-blue {
    height: 69vh !important;
  }

  main {
    width: 100%;
    margin-inline: auto;
    margin-top: 3.5rem;
  }

  .transition {
    height: 20rem !important;
    margin-top: -12rem !important;
  }

  #lightRed,
  .bg-red {
    transform: translateX(-2.4rem) rotate(1.29deg);
    left: 11%;
  }

  #lightBlue,
  .bg-blue {
    transform: translateX(-1.4rem);
    left: 36%;
  }

  .text > img {
    width: 94%;
  }

  .text {
    width: 100%;
  }

  #bosmr {
    margin-top: 0.4rem;
    width: 70%;
  }

  #lightYellow,
  .bg-yellow {
    transform: translateX(0.2rem) rotate(-1.29deg);
    left: 56%;
  }

  .pictures img {
    width: 95%;
  }

  .bp {
    margin-left: 1rem;
  }

  #phoneRegist {
    padding: 1rem 1.9rem;
    margin-top: 3rem;
  }

  .time {
    margin-left: -1rem;
  }
}
/*# sourceMappingURL=responsive.css.map */
