* {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 500;
    box-sizing: border-box;
    scrollbar-color: #eeecec transparent;
}

*::-webkit-scrollbar-thumb {
    background: #eeecec;
}

*::-webkit-scrollbar-track {
    background: #000000;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: black;
    background-image: url(../Assets/bgAbout.png);
    background-position: center;
    background-size:auto;
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: "Montserrat";
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    pointer-events: none;
}

body::-webkit-scrollbar {
    width: 0 !important;
}

/* Back Button */
.close {
    cursor: pointer;
    position: absolute;
    left: 5rem;
    z-index: 100;
}

.close-img {
    width: 30px;
    height: 30px;
}

/* Title */
.spon-head {
    font-size: 3.2rem;
    margin-top: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 6rem;
}
#last{
    padding-bottom: 4rem;
}
.spon-title{
    text-transform: uppercase;
    text-align: center;
    margin-top: 4rem;
    font-size: 2rem;
    margin-inline: 3rem;
}
.spon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 1rem;
    transition: all 0.3s;
}
.spon:hover{
    transform: scale(1.2);
}
.image{
    display: flex;
    justify-content: center;
    margin: 4vw auto 0;
    width: 80%;
}
.image img{
    width: 15em;
}
.name{
    color: #fff;
    font-size: 1.5em;
    margin-top: 2.5vw;
    text-align: center;
}

/* Hamburger */
.ham-cont {
    display: flex;
    transform: scale(0.6);
    justify-content: center;
    align-items: center;
    position: relative;
}

.hamburger {
    height: 30px;
    width: 35px;
    position: relative;
    cursor: pointer;
}

.hamburger span {
    right: 0;
    height: 3.6px;
    border-radius: 1.5px;
    background: white;
    position: absolute;
}

.ham-1 {
    width: 35px;
    top: 1px;
    -webkit-animation: ham-up 0.4s linear;
    animation: ham-up 0.4s linear;
}
.ham-links a::after {
    content: '';
    border-bottom: 4px solid rgb(255, 255, 255);
    display: block;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out 0s, -webkit-transform 0.25s ease-in-out 0s;
    transform-origin: left;
  }
  .ham-links a:hover:after{
    transform: scaleX(1);
  }

.ham-2 {
    width: 23px;
    top: 13.2px;
}

.ham-3 {
    width: 13px;
    top: 25.4px;
    height: 3.4px !important;
    -webkit-animation: ham-down 0.4s linear;
    animation: ham-down 0.4s linear;
}

/* HAMGURGER MENU */
.ham-grid {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100001;
    display: none;
    position: fixed;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
    grid-template-columns: 32vw 30vw auto;
    grid-template-rows: 66vh 34vh;
}

.ham-grid div {
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

.ham-grid img {
    max-height: 100%;
    z-index: 1;
}

.ham-text img,
.ham-img img {
    height: 100%;
    width: 100%;
}

.ham-img,
.ham-text {
    position: relative;
}

.ham-img span,
.ham-text span {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(45px);
    backdrop-filter: blur(45px);
    transform: translateX(100%);
}

.ham-logo img {
    height: 23vh;
    opacity: 0;
}

.ham-icons,
.ham-logo {
    background: rgba(43, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(45px);
    backdrop-filter: blur(45px);
}

.ham-icons {
    gap: 2rem;
}

.ham-icon {
    height: 5vh;
    width: 5vh;
    opacity: 0;
}

.ham-links {
    grid-column: 3;
    grid-row: 1 / a 2;
    background: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(45px);
    backdrop-filter: blur(45px);
}

.ham-links>div {
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
}

.ham-links a {
    font-family: "Montserrat";
    font-style: normal;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 2rem;
    opacity: 0;
}

.right {
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    gap: 1rem;
    justify-content: space-around;
    position: relative;
    z-index: 100001;
    margin-top: 2.5rem;
    margin-inline: 2rem;
}

.nav {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    right: 0;
    top: 0;
}

@-webkit-keyframes ham-up-1 {
    from {
        transform: none;
        width: 35px;
        top: 1px;
    }

    to {
        transform: rotate(405deg);
        width: 25px;
        top: 13.2px;
    }
}

@keyframes ham-up-1 {
    from {
        transform: none;
        width: 35px;
        top: 1px;
    }

    to {
        transform: rotate(405deg);
        width: 25px;
        top: 13.2px;
    }
}

@-webkit-keyframes ham-down-1 {
    from {
        transform: none;
        width: 13px;
        top: 25.4px;
    }

    to {
        transform: rotate(-405deg);
        width: 25px;
        top: 13.2px;
    }
}

@keyframes ham-down-1 {
    from {
        transform: none;
        width: 13px;
        top: 25.4px;
    }

    to {
        transform: rotate(-405deg);
        width: 25px;
        top: 13.2px;
    }
}

@-webkit-keyframes ham-up-2 {
    from {
        transform: rotate(405deg);
        width: 25px;
        top: 13.2px;
    }

    to {
        transform: none;
        width: 35px;
        top: 1px;
    }
}

@keyframes ham-up-2 {
    from {
        transform: rotate(405deg);
        width: 25px;
        top: 13.2px;
    }

    to {
        transform: none;
        width: 35px;
        top: 1px;
    }
}

@-webkit-keyframes ham-down-2 {
    from {
        transform: rotate(-405deg);
        width: 25px;
        top: 13.2px;
    }

    to {
        transform: none;
        width: 13px;
        top: 25.4px;
    }
}

@keyframes ham-down-2 {
    from {
        transform: rotate(-405deg);
        width: 25px;
        top: 13.2px;
    }

    to {
        transform: none;
        width: 13px;
        top: 25.4px;
    }
}

@-webkit-keyframes link-up {
    from {
        transform: translateY(200%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes link-up {
    from {
        transform: translateY(200%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes span-right {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes span-right {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

@-webkit-keyframes span-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes span-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes span-go-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes span-go-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@-webkit-keyframes span-go-left {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes span-go-left {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@-webkit-keyframes go-up {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes go-up {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@-webkit-keyframes go-down {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes go-down {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

@-webkit-keyframes come-up {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes come-up {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes come-down {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes come-down {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@media (max-width: 800px) {
    .spon-head{
        font-size: 2rem;
    }
    .spon-title{
        font-size: 1.6rem;
        margin-top: 6rem;
    }
    .image img{
        width: 10em;
    }
    .name{
        font-size: 1.2rem;
    }
    body {
        background: black url('../Assets/bgAboutPhone.png') center center repeat-y;
        background-attachment: fixed;
    }
}

@media screen and (min-width: 0px) {
    .ham-hide {
      display: none !important;
    }
  
    .ham-links {
      grid-row: 1 !important;
      grid-column: 1 !important;
      width: 100vw;
      height: 100vh;
      gap: 3rem;
    }
  
    .ham-links a {
      font-size: 2.2rem;
    }
}
@media screen and (min-width: 999px) {
    .ham-hide {
      display: flex !important;
    }
  
    .ham-cont {
      transform: scale(0.8) !important;
    }
  
    .ham-links {
      grid-column: 3 !important;
      grid-row: 1 / a 2 !important;
      width: auto;
      height: auto;
      /* gap: 3rem; */
    }
  
    .ham-links a {
      font-size: 2rem;
    }
}  